<% layout('layout') -%>
<div id="content">
<% include ../partials/admin-menu %>
<div class="container">
	<h1 class="title">###jobs###</h1>
	
	<div class="container row vertical-spacing">
		<div class="col-xs-12">
			<button onclick="window.open('/admin/add-job');" class="col-xs-12 btn btn-warning">###addjob###</button>
		</div>
	</div>
	<div class="container row vertical-spacing">
		<div class="col-sm-6">
			<a href="/admin/generate/1" class="col-xs-12 btn btn-warning">Generate</a>
		</div>
		<div class="col-sm-6">
			<a href="/admin/degenerate" class="col-xs-12 btn btn-warning">Degenerate</a>
		</div>
	</div>
	<hr class="empty-divider">
	
	<% include ../partials/searchbar-advanced %>
	
	<div class="container row" id="search">
		<div class="searchresults col-md-12">
			<% for(var i=0; i<data.length;i++){ var job = data[i]; %>
				<%  if (job) { var hidden = (job.hidden || job.displayDate<Date.now());%>
					<div class="list-entry vertical-spacing<%  if ( hidden ) { %> hidden-entry<% } %><% if ( job.featured ) { %> important-entry<% } %>">
						<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
							<p><span><%= job.title %><% if ( job.company && job.company!="" ) { %> — <strong><%= job.company %></strong><% } %></span>
							<span class="pull-right"><%= DateToOutput(job.date) %></span></p>
						</div>
						<div class="list-entry-data">
							<% var unparsed = true; %>
							<% include ../details/job-extended %>
						</div>
						<div class="list-entry-buttons">
							<button onclick="window.open('/job/<%= job._id %><% if (query && query!="") { %>?h=<%= query %><% } %>');" class="btn btn-primary btn-sm">###details###</button>
							
							<span class="list-entry-info">
								<% if ( job.hidden ) { %><span style="color: brown;"> — ###hidden###</span><% } %>
								<% if (job.displayDate<=LastDay) { %><span style="color: red;"> — ###expired###</span><% } %>
								<% if ( job.featured ) { %><span style="color: green;"> — ###featured###</span><% } %>
							</span>
							<div class="pull-right">
								<% var stay = true; %>
								<% include ../partials/job-adminbuttons %>
							</div>
						</div>
					</div>
				<% } else { %>
					<div class="list-entry">
						<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
							<p><span><strong><%= entry %>:</strong></span><span class="pull-right"><strong>ID: </strong><%= i %></span></p>
						</div>
						<div class="list-entry-data">
							
						</div>
					</div>
				<% } %>
			<% } %>
		</div>
	</div>
	<div class="container row vertical-spacing">
		<div class="col-sm-12">
			<a href="/admin/delete-jobs?<%= 'q='+query+'&f='+jobfield+'&t='+jobtype %>" class="col-sm-12 btn btn-warning">###deleteall###</a>
		</div>
	</div>
	
		
	<% include ../partials/paginator %>
</div>
</div>