<% layout('layout') -%>
<div id="content">
<div class="container">
	<h1 class="title">###categories###</h1>
	
	<div class="container row vertical-spacing">
		<div class="col-xs-12">
			<button onclick="window.open('/admin/add-category');" class="col-xs-12 btn btn-warning">###addcategory###</button>
		</div>
	</div>
	<hr class="empty-divider">
	
	<% include ../partials/searchbar %>
	
	<div class="container row vertical-spacing" id="search">
		<div class="searchresults col-md-12">
			<% for(var i=0; i<data.length;i++){ var entry = data[i]; if (entry) %>
				<div class="list-entry vertical-spacing">
					<%  if (entry) { %>
						<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
							<p><span><%= catnames[entry.category] %> - <strong><%= entry.name %></strong> </span><span class="pull-right"><strong>###createdate###: </strong><%= DateToOutput(entry.date) %></span></p>
						</div>
						<div class="list-entry-data">
							<p><strong>###name###: </strong><%= entry.name %></p>
							<p><strong>###category###: </strong><%= catnames[entry.category] %></p>
							<p><strong>###createdate###: </strong><%= DateToOutput(entry.date) %></p>
						</div>
						<div class="list-entry-buttons">
							<button onclick="window.open('/category/<%= entry._id %>');" class="btn btn-primary btn-sm" target="_blank">###details###</button>
							<div class="pull-right">
								<button onclick="window.open('/admin/edit-category/<%= entry._id %>');" class="btn btn-sm btn-admin">###edit###</button>
								<button onclick="window.open('/admin/delete-category/<%= entry._id %>');" class="btn btn-sm btn-admin">###delete###</button>
							</div>
						</div>
					<% } else { %>
						<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
							<p><span><strong><%= entry %>:</strong></span><span class="pull-right"><strong>ID: </strong><%= i %></span></p>
						</div>
						<div class="list-entry-data">
							
						</div>
					<% } %>
				</div>
			<% } %>
		</div>
	</div>
		
	<% include ../partials/paginator %>
</div>			
</div>	