<% layout('layout') -%>
<div id="content">
	<% include ../partials/admin-menu %>
	<div class="container">
		<h1 class="title">###users###</h1>

		<div class="container row vertical-spacing">
			<div class="col-xs-12">
				<button onclick="window.open('/admin/add-user');" class="col-xs-12 btn btn-warning">###adduser###</button>
			</div>
		</div>
		<hr class="empty-divider">
		
		<% include ../partials/searchbar-users %>
		
		<div class="container row" id="search">
			<div class="searchresults col-md-12">
				<% for(var i=0; i<data.length;i++){ var profile = data[i]; %>
					<%  if (profile) { %>
						<div class="list-entry vertical-spacing<% if ( profile.admin || profile.employer ) { %> important-entry<% } %>">
							<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
								
									<p><strong><%= profile.email %></strong><span class="pull-right"><strong></strong><%= DateToOutput(profile.date) %></span></p>
								
							</div>
							<div class="list-entry-data">
								<% include ../details/user %>
							</div>
							<div class="list-entry-buttons">
								<div class="row">
									<div class="col-xs-12">
										<button onclick="window.open('/profile/<%= profile._id %>');" class="btn btn-primary btn-sm" target="_blank">###details###</button>
										
										<span class="list-entry-info">
											<%  if ( profile.verified ) { %><span style="color: green;">(###verified###)</span>
											<% } else { %><span style="color: red;">(###unverified###)</span><% } %>
											
											<%  if ( profile.admin ) { %> — <span style="color: violet;">###admin###</span><% } %>
											<%  if ( profile.manager ) { %> — <span style="color: violet;">###manager###</span><% } %>
											<%  if ( profile.employer ) { %> — <span style="color: violet;">###employer###</span><% } %>
										</span>
										<div class="pull-right">
											<button onclick="window.open('/admin/edit-user/<%= profile._id %>');" class="btn btn-sm btn-admin btn-simple">###edit###</button>
											<button onclick="confirm_command('###delete### <%= profile.title %>','/admin/delete-user/<%= profile._id %>?stay=true');" class="btn btn-sm btn-admin btn-simple">###delete###</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					<% } else { %>
						<div class="list-entry">
							<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
								<p><span><strong><%= profile %>:</strong></span><span class="pull-right"><strong>ID: </strong><%= i %></span></p>
							</div>
							<div class="list-entry-data">
								
							</div>
						</div>
					<% } %>
				<% } %>
			</div>
		</div>
		
		<div class="container row vertical-spacing">
			<div class="col-sm-12">
				<a href="/admin/delete-users?<%= 'q='+query+'&f='+jobfield+'&t='+jobtype %>" class="col-sm-12 btn btn-warning">###deleteall###</a>
			</div>
		</div>
			
		<% include ../partials/paginator %>
	</div>
</div>