<% layout('layout') -%>
<div class="container">
	<h1 class="title">###categories###</h1>
	
	<div class="container row">
		<div class="col-xs-12">
			<a href="/admin/add-category" class="col-xs-12 btn btn-warning">###addcategory###</a>
		</div>
	</div>
	<hr class="empty-divider">
	
	<% include ../partials/searchbar %>
	
	<div class="container row" id="search">
		<div id="searchresults" class="col-md-12">
			<% for(var i=0; i<data.length;i++){ var entry = data[i]; if (entry) %>
				<hr class="empty-divider">
				<div class="list-entry">
					<%  if (entry) { %>
						<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
							<p><span><%= catnames[entry.category] %> - <strong><%= entry.name %></strong> </span><span class="pull-right"><strong>###date###: </strong><%= DateToInput(entry.date) %></span></p>
						</div>
						<div class="list-entry-data">
							<p><strong>###id###: </strong><%= entry._id %></p>
							<p><strong>###name###: </strong><%= entry.name %></p>
							<p><strong>###category###: </strong><%= catnames[entry.category] %></p>
							<p><strong>###date###: </strong><%= DateToInput(entry.date) %></p>
						</div>
						<div class="list-entry-buttons">
							<a role="button" href="/category/<%= entry._id %>" class="btn btn-primary btn-sm" target="_blank">###details###</a>
							<a role="button" href="/admin/delete-category/<%= entry._id %>" class="btn btn-sm btn-warning">###delete###</a>
							<a role="button" href="/admin/edit-category/<%= entry._id %>" class="btn btn-sm btn-warning">###edit###</a>
						</div>
					<% } else { %>
						<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
							<p><span><strong><%= entry %>:</strong></span><span class="pull-right"><strong>ID: </strong><%= i %></span></p>
						</div>
						<div class="list-entry-data">
							
						</div>
					<% } %>
				</div>
			<% } %>
		</div>
	</div>
		
	<% include ../partials/paginator %>
</div>				