<% layout('layout') -%>
<div class="container">

	<hr class="simple-divider">
	
	<div class="row">
		<div class="col-sm-12">
			<a href="/admin/add-user" class="col-sm-12 btn btn-warning"><%= trans("Add new user") %></a>
		</div>
	</div>
	
	<hr class="simple-divider">
	
	<% var searchlistlimit = listlimit; %>
	<% include ../partials/searchbar-advanced %>
	
	<hr class="simple-divider">
	
	<% include ../partials/paginator %>
	
	<div class="container" id="search">
		<div class="col-md-10 col-md-push-1">
			<div id="searchresults">
				<% for(var i=0; i<data.length;i++){ var entry = data[i]; %>
					<%  if (entry) { %>
						<div class="list-entry">
							<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
								<p><span><strong><%= entry.email %>: </strong><%= entry.name %></span><span class="pull-right"><strong><%= trans("Added") %>: </strong><%= DateToInput(entry.date) %></span></p>
							</div>
							<div class="list-entry-data">
								<p><strong><%= trans("ID") %>: </strong><%= entry._id %></p>
								<p><strong><%= trans("Name") %>: </strong><%= entry.name %></p>
								<p><strong><%= trans("Email") %>: </strong><%= entry.email %></p>
								<p><strong><%= trans("Date of birth") %>: </strong><%= entry.dateOfBirth %></p>
								<p><strong><%= trans("Country") %>: </strong><%= entry.country %></p>
								<p><strong><%= trans("Gender") %>: </strong><%= entry.gender %></p>
								<p><strong><%= trans("Field of study") %>: </strong><%= entry.fieldOfStudy %></p>
								<p><strong><%= trans("Year of studies") %>: </strong><%= entry.yearOfStudies %></p>
								<p><strong><%= trans("Looking for job types") %>: </strong><%= entry.typeOfJob %></p>
								<p><strong><%= trans("Skills") %>: </strong><%= entry.skills %></p>
								<p><strong><%= trans("Followed keywords") %>: </strong><%= entry.keywords %></p>
								<p><strong><%= trans("Added") %>: </strong><%= entry.date %></p>
								<p><strong><%= trans("Is Admin") %>: </strong><%= entry.admin %></p>
							</div>
							<div class="list-entry-buttons">
								<a role="button" href="/profile/<%= entry._id %>" class="btn btn-primary btn-sm"><%= trans("Details") %></a>
								<a role="button" href="/admin/delete-user/<%= entry._id %>" class="btn btn-sm btn-warning"><%= trans("Delete") %></a>
								<a role="button" href="/admin/edit-user/<%= entry._id %>" class="btn btn-sm btn-warning"><%= trans("Edit") %></a>
							</div>
						</div>
					<% } else { %>
						<div class="list-entry">
							<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
								<p><span><strong><%= entry %>:</strong></span><span class="pull-right"><strong>ID: </strong><%= i %></span></p>
							</div>
							<div class="list-entry-data">
								
							</div>
						</div>
					<% } %>
				<% } %>
			</div>
		</div>
	</div>
		
	<% include ../partials/paginator %>
</div>