<% layout('layout') -%>
<div id="content">
<div class="container">
	<h1 class="title">###documents###</h1>
	
	<hr class="empty-divider">
	
	<div class="container row" id="search">
		<div id="searchresults" class="col-md-12">
			<% for(var i=0; i<data.length;i++){ var entry = data[i]; if (entry) %>
				<hr class="empty-divider">
				<div class="list-entry">
					<%  if (entry) { %>
						<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
							<p><span><strong><%= entry.name %></strong> </span><span class="pull-right"><strong>###date###: </strong><%= DateToOutput(entry.date) %></span></p>
						</div>
						<div class="list-entry-data">
							<p><strong>###id###: </strong><%= entry._id %></p>
							<p><strong>###name###: </strong><%= entry.name %></p>
							<p><strong>###date###: </strong><%= DateToOutput(entry.date) %></p>
							<p><strong>###content###: </strong><%= entry.content %></p>
						</div>
						<div class="list-entry-buttons">
							<a role="button" href="/document/<%= entry._id %>" class="btn btn-primary btn-sm" target="_blank">###details###</a>
							<a role="button" href="/admin/delete-document/<%= entry._id %>" class="btn btn-sm btn-warning">###delete###</a>
							<a role="button" href="/admin/edit-document/<%= entry._id %>" class="btn btn-sm btn-warning">###edit###</a>
						</div>
					<% } else { %>
						<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
							<p><span><strong><%= entry %>:</strong></span><span class="pull-right"><strong>ID: </strong><%= i %></span></p>
						</div>
						<div class="list-entry-data">
							
						</div>
					<% } %>
				</div>
			<% } %>
		</div>
	</div>
		
	<% include ../partials/paginator %>
</div>			
</div>	