<% layout('layout') -%>
<div id="content">
<div class="container">
	<h1 class="title">###applications###</h1>

	<% include ../partials/searchbar %>
	
	<div class="container row" id="search">
		<div class="searchresults col-md-12">
			<% for(var i=0; i<data.length;i++){ var application = data[i]; %>
				<hr class="empty-divider">
				<%  if (application) { %>
					<div class="list-entry">
						<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
							<p><span><%= application.user.name %> <strong><%= application.job.title %></strong></span><span class="pull-right"><strong>###createdate###: </strong><%= DateToOutput(application.date) %></span></p>
						</div>
						<div class="list-entry-data">
							<% include ../details/application %>
						</div>
						<div class="list-entry-buttons">
							<button onclick="window.open('/application/<%= application._id %>');" class="btn btn-primary btn-sm" target="_blank">###details###</button>
							<div class="pull-right">
								<button onclick="window.open('/admin/delete-application/<%= application._id %>');" class="btn btn-sm btn-admin">###delete###</button>
								<button onclick="window.open('/admin/edit-application/<%= application._id %>');" class="btn btn-sm btn-admin">###edit###</button>
							</div>
						</div>
					</div>
				<% } else { %>
					<div class="list-entry">
						<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
							<p><span><strong><%= entry %>:</strong></span><span class="pull-right"><strong>ID: </strong><%= i %></span></p>
						</div>
						<div class="list-entry-data">
							
						</div>
					</div>
				<% } %>
				
			<% } %>
		</div>
	</div>
		
	<% include ../partials/paginator %>
</div>
</div>