<% layout('layout') -%>
<div id="content">
	<div class="container">
		<h1 class="title">###users###</h1>

		<div class="container row">
			<div class="col-xs-12">
				<a href="/admin/add-user" class="col-xs-12 btn btn-warning">###adduser###</a>
			</div>
		</div>
		<hr class="empty-divider">
		
		<h1 class="title">###search###</h1>
		
		<% include ../partials/searchbar-users %>
		
		<div class="container row" id="search">
			<div id="searchresults" class="col-md-12">
				<% for(var i=0; i<data.length;i++){ var profile = data[i]; %>
					<hr class="empty-divider">
					<%  if (profile) { %>
						<div class="list-entry<% if ( profile.admin || profile.employer ) { %> important-entry<% } %>">
							<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
								<p><span><%= profile.name %> <strong><%= profile.email %></strong></span><span class="pull-right"><strong>###createdate###: </strong><%= DateToInput(profile.date) %></span></p>
							</div>
							<div class="list-entry-data">
								<p><strong>_id: </strong><%= profile._id %></p>
								<p><strong>admin: </strong><%= profile.admin %></p>
								<p><strong>employer: </strong><%= profile.employer %></p>
								<p><strong>name: </strong><%= profile.name %></p>
								<p><strong>email: </strong><%= profile.email %></p>
								<p><strong>phone: </strong><%= profile.phone %></p>
								<p><strong>dateOfBirth: </strong><%= DateToInput(profile.dateOfBirth) %></p>
								<p><strong>country: </strong><%= profile.country %></p>
								<p><strong>address: </strong><%= profile.address %></p>
								<p><strong>gender: </strong><%= profile.gender %></p>
								<p><strong>fieldOfStudy: </strong><%= profile.fieldOfStudy %></p>
								<p><strong>yearOfStudies: </strong><%= profile.yearOfStudies %></p>
								<p><strong>typeOfJob: </strong><%= profile.typeOfJob %></p>
								<p><strong>skills: </strong><%= profile.skills %></p>
								<p><strong>keywords: </strong><%= profile.keywords %></p>
								<p><strong>date: </strong><%= DateToInput(profile.date) %></p>
								<p><strong>lastlogin: </strong><%= DateToInput(profile.lastlogin) %></p>
								<p><strong>lastip: </strong><%= profile.lastip %></p>
							</div>
							<div class="list-entry-buttons">
								<a role="button" href="/profile/<%= profile._id %>" class="btn btn-primary btn-sm" target="_blank">###details###</a>
								<a role="button" href="/admin/delete-user/<%= profile._id %>" class="btn btn-sm btn-warning">###delete###</a>
								<a role="button" href="/admin/edit-user/<%= profile._id %>" class="btn btn-sm btn-warning">###edit###</a>
							</div>
						</div>
					<% } else { %>
						<div class="list-entry">
							<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
								<p><span><strong><%= profile %>:</strong></span><span class="pull-right"><strong>ID: </strong><%= i %></span></p>
							</div>
							<div class="list-entry-data">
								
							</div>
						</div>
					<% } %>
				<% } %>
			</div>
		</div>
		
		<div class="container row">
			<div class="col-sm-12">
				<a href="/admin/delete-users?<%= 'q='+query+'&f='+jobfield+'&t='+jobtype %>" class="col-sm-12 btn btn-warning">###deleteall###</a>
			</div>
		</div>
			
		<% include ../partials/paginator %>
	</div>
</div>