<% layout('layout') -%>
<div id="content">
<div class="container">
	<h1 class="title">###documents###</h1>
	
	<hr class="empty-divider">
	
	<div class="container row" id="search">
		<div class="searchresults col-md-12">
			<% for(var i=0; i<data.length;i++){ var entry = data[i]; var document = entry; if (entry) %>
				<hr class="empty-divider">
				<div class="list-entry">
					<%  if (entry) { %>
						<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
							<p><span><strong><%= entry.name %></strong> </span><span class="pull-right"><strong>###date###: </strong><%= DateToOutput(entry.date) %></span></p>
						</div>
						<div class="list-entry-data">
							<% include ../details/document-simple %>
						</div>
						<div class="list-entry-buttons">
							<button onclick="window.open('/document/<%= entry._id %>');" class="btn btn-primary btn-sm" target="_blank">###details###</button>
							<div class="pull-right">
								<button onclick="window.open('/admin/edit-document/<%= entry._id %>');" class="btn btn-sm btn-admin">###edit###</button>
								<button onclick="window.open('/admin/delete-document/<%= entry._id %>');" class="btn btn-sm btn-admin">###delete###</button>
							</div>
						</div>
					<% } else { %>
						<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
							<p><span><strong><%= entry %>:</strong></span><span class="pull-right"><strong>ID: </strong><%= i %></span></p>
						</div>
						<div class="list-entry-data">
							
						</div>
					<% } %>
				</div>
			<% } %>
		</div>
	</div>
		
	<% include ../partials/paginator %>
</div>			
</div>	