<% layout('layout') -%>
<div class="container">

	<hr class="simple-divider">
	
	<div class="row">
		<div class="col-sm-12">
			<a href="/admin/add-job" class="col-sm-12 btn btn-warning"><%= trans("Add new job") %></a>
		</div>
	</div>
	
	<hr class="simple-divider">
	
	<% var searchlistlimit = listlimit; %>
	<% include ../partials/searchbar-advanced %>
	
	<hr class="simple-divider">
	
	<% include ../partials/paginator %>
	
	<div class="container" id="search">
		<div class="col-md-10 col-md-push-1">
			<div id="searchresults">
				<% for(var i=0; i<data.length;i++){ var entry = data[i]; %>
					<%  if (entry) { %>
						<div class="list-entry<%  if ( (entry.hidden || entry.displayDate<Date.now()) ) { %> hidden-entry<% } %><% if ( entry.featured ) { %> featured-entry<% } %>">
							<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
								<p><span><strong><%= entry.title %> </strong> <%= entry.company %></span><span class="pull-right"><strong><%= trans("Added") %>: </strong><%= DateToInput(entry.date) %></span></p>
							</div>
							<div class="list-entry-data">
								<p><strong><%= trans("ID") %>: </strong><%= entry._id %></p>
								<p><strong><%= trans("Featured") %>: </strong><%= entry.featured %></p>
								<p><strong><%= trans("Hidden") %>: </strong><%= entry.hidden %></p>
								<p><strong><%= trans("Title") %>: </strong><%= entry.title %></p>
								<p><strong><%= trans("Company") %>: </strong><%= entry.company %></p>
								<p><strong><%= trans("Type") %>: </strong><%= entry.type %></p>
								<p><strong><%= trans("Field") %>: </strong><%= entry.field %></p>
								<p><strong><%= trans("Address") %>: </strong><%= entry.address %></p>
								<p><strong><%= trans("Email") %>: </strong><%= entry.email %></p>
								<p><strong><%= trans("Desired skills") %>: </strong><%= entry.skills %></p>
								<p><strong><%= trans("From") %>: </strong><%= DateToInput(entry.startDate) %></p>
								<p><strong><%= trans("To") %>: </strong><%= DateToInput(entry.endDate) %></p>
								<p><strong><%= trans("Description") %>: </strong><%= entry.description %></p>
								<p><strong><%= trans("Added") %>: </strong><%= DateToInput(entry.date) %></p>
								<p><strong><%= trans("Expires") %>: </strong><%= DateToInput(entry.displayDate) %></p>
							</div>
							<div class="list-entry-buttons">
								<a role="button" href="/job/<%= entry._id %>" class="btn btn-primary btn-sm"><%= trans("Details") %></a>
								<a role="button" href="/admin/delete-job/<%= entry._id %>" class="btn btn-sm btn-warning"><%= trans("Delete") %></a>
								<a role="button" href="/admin/edit-job/<%= entry._id %>" class="btn btn-sm btn-warning"><%= trans("Edit") %></a>
								
							</div>
						</div>
					<% } else { %>
						<div class="list-entry">
							<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
								<p><span><strong><%= entry %>:</strong></span><span class="pull-right"><strong>ID: </strong><%= i %></span></p>
							</div>
							<div class="list-entry-data">
								
							</div>
						</div>
					<% } %>
				<% } %>
			</div>
		</div>
	</div>
		
	<% include ../partials/paginator %>
</div>