<% layout('layout') -%>
<div class="container">
	<% var searchlistlimit = listlimit; %>
	<% include ../partials/searchbar %>
	
	<hr class="simple-divider">
	
	<div class="container" id="search">
		<div class="col-md-10 col-md-push-1">
			<div id="searchresults">
				<% for(var i=0; i<jobtypes.length;i++){ var entry = jobtypes[i]; %>
					<div class="list-entry">
						<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
							<p><span><strong><%= entry %></strong></span><span class="pull-right"><strong>ID: </strong><%= i %></span></p>
						</div>
						<div class="list-entry-data">
							<% for(var key in entry){ var field = entry[key]; %>
								<p><strong><%= key %></strong>: <%= field %></p>
							<% } %>
						</div>
						<div class="list-entry-buttons">
							<a role="button" href="/type/<%= entry._id %>" class="btn btn-primary btn-sm"><%= trans("Details") %></a>
							<a role="button" href="/admin/delete-type/<%= entry._id %>" class="btn btn-sm btn-warning"><%= trans("Delete") %></a>
							<a role="button" href="/admin/edit-type/<%= entry._id %>" class="btn btn-sm btn-warning"><%= trans("Edit") %></a>
						</div>
					</div>
				<% } %>
			</div>
		</div>
	</div>
	
	<hr class="simple-divider">
		
	<% include ../partials/paginator %>
</div>				