<% layout('layout') -%>
<div id="content">
<div class="container">
	<h1 class="title">###jobs###</h1>
	
	<div class="container row">
		<div class="col-xs-12">
			<a href="/admin/add-job" class="col-xs-12 btn btn-warning">###addjob###</a>
		</div>
	</div>
	<div class="container row">
		<div class="col-sm-6">
			<a href="/admin/generate/1" class="col-xs-12 btn btn-warning">Generate</a>
		</div>
		<div class="col-sm-6">
			<a href="/admin/degenerate" class="col-xs-12 btn btn-warning">Degenerate</a>
		</div>
	</div>
	<hr class="empty-divider">
	
	<h1 class="title">###search###</h1>
	
	<% include ../partials/searchbar-advanced %>
	
	<div class="container row" id="search">
		<div id="searchresults" class="col-md-12">
			<% for(var i=0; i<data.length;i++){ var job = data[i]; %>
				<%  if (job) { %>
					<div class="list-entry<%  if ( (job.hidden || job.displayDate<Date.now()) ) { %> hidden-entry<% } %><% if ( job.featured ) { %> important-entry<% } %>">
						<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
							<p><span><%= job.company %> <strong><%= job.title %></strong></span><span class="pull-right"><strong>###createdate###: </strong><%= DateToInput(job.date) %></span></p>
						</div>
						<div class="list-entry-data">
							<p><strong>_id: </strong><%= job._id %></p>
							<p><strong>user.email: </strong><% if ( job.user ) { %><%= job.user.email %><% } %></p>
							<p><strong>featured: </strong><%= job.featured %></p>
							<p><strong>hidden: </strong><%= job.hidden %></p>
							<p><strong>title: </strong><%= job.title %></p>
							<p><strong>company: </strong><%= job.company %></p>
							<p><strong>field.name: </strong><%= job.field.name %></p>
							<p><strong>type.name: </strong><%= job.type.name %></p>
							<p><strong>address: </strong><%= job.address %></p>
							<p><strong>email: </strong><%= job.email %></p>
							<p><strong>phone: </strong><%= job.phone %></p>
							<p><strong>skills: </strong><%= job.skills %></p>
							<p><strong>description: </strong><%= job.description %></p>
							<% if (0==1) { %>
								<p><strong>startDate: </strong><%= DateToInput(job.startDate) %></p>
								<p><strong>endDate: </strong><%= DateToInput(job.endDate) %></p>
							<% } %>
							<p><strong>beginning: </strong><%= job.beginning %></p>
							<p><strong>duration: </strong><%= job.duration %></p>
							<p><strong>date: </strong><%= DateToInput(job.date) %></p>
							<p><strong>displayDate: </strong><%= DateToInput(job.displayDate) %></p>
						</div>
						<div class="list-entry-buttons">
							<a role="button" href="/job/<%= job._id %>" class="btn btn-primary btn-sm" target="_blank">###details###</a>
							<a role="button" href="/admin/delete-job/<%= job._id %>" class="btn btn-sm btn-warning">###delete###</a>
							<a role="button" href="/admin/edit-job/<%= job._id %>" class="btn btn-sm btn-warning">###edit###</a>
							
						</div>
					</div>
				<% } else { %>
					<div class="list-entry">
						<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
							<p><span><strong><%= entry %>:</strong></span><span class="pull-right"><strong>ID: </strong><%= i %></span></p>
						</div>
						<div class="list-entry-data">
							
						</div>
					</div>
				<% } %>
				<hr class="empty-divider">
			<% } %>
		</div>
	</div>
	<div class="container row">
		<div class="col-sm-12">
			<a href="/admin/delete-jobs?<%= 'q='+query+'&f='+jobfield+'&t='+jobtype %>" class="col-sm-12 btn btn-warning">###deleteall###</a>
		</div>
	</div>
	
		
	<% include ../partials/paginator %>
</div>
</div>