<% layout('layout') -%>
<div id="content">
<div class="container">
	<h1 class="title">###jobs###</h1>
	
	<div class="container row">
		<div class="col-xs-12">
			<button role="button" onclick="window.open('/admin/add-job');" class="col-xs-12 btn btn-warning">###addjob###</button>
		</div>
	</div>
	<div class="container row">
		<div class="col-sm-6">
			<a href="/admin/generate/1" class="col-xs-12 btn btn-warning">Generate</a>
		</div>
		<div class="col-sm-6">
			<a href="/admin/degenerate" class="col-xs-12 btn btn-warning">Degenerate</a>
		</div>
	</div>
	<hr class="empty-divider">
	
	<h1 class="title">###search###</h1>
	
	<% include ../partials/searchbar-advanced %>
	
	<div class="container row" id="search">
		<div id="searchresults" class="col-md-12">
			<% for(var i=0; i<data.length;i++){ var job = data[i]; %>
				<%  if (job) { var hidden = (job.hidden || job.displayDate<Date.now());%>
					<div class="list-entry<%  if ( hidden ) { %> hidden-entry<% } %><% if ( job.featured ) { %> important-entry<% } %>">
						<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
							<p><span><%= job.company %> — <strong><%= job.title %></strong></span><span class="pull-right"><strong>###createdate###: </strong><%= DateToOutput(job.date) %></span></p>
						</div>
						<div class="list-entry-data">
							<% include ../details/job-extended %>
						</div>
						<div class="list-entry-buttons">
							<button role="button" onclick="window.open('/job/<%= job._id %>');" class="btn btn-primary btn-sm" target="_blank">###details###</button>
							
							<%  if ( job.hidden ) { %><span style="color: brown;"> — (###hidden###)</span><% } %>
							<%  if ( job.displayDate<Date.now() ) { %><span style="color: red;"> — (###closed###)</span><% } %>
							<%  if ( job.featured ) { %><span style="color: green;"> — (###featured###)</span><% } %>
							
							<div class="pull-right">
								<button role="button" onclick="window.open('/admin/edit-job/<%= job._id %>');" class="btn btn-sm btn-admin">###edit###</button>
								<button role="button" onclick="window.open('/admin/delete-job/<%= job._id %>');" class="btn btn-sm btn-admin">###delete###</button>
							</div>
						</div>
					</div>
				<% } else { %>
					<div class="list-entry">
						<div class="list-entry-head btn-primary" onclick="$( this ).parent().toggleClass( 'expand' );">
							<p><span><strong><%= entry %>:</strong></span><span class="pull-right"><strong>ID: </strong><%= i %></span></p>
						</div>
						<div class="list-entry-data">
							
						</div>
					</div>
				<% } %>
				<hr class="empty-divider">
			<% } %>
		</div>
	</div>
	<div class="container row">
		<div class="col-sm-12">
			<a href="/admin/delete-jobs?<%= 'q='+query+'&f='+jobfield+'&t='+jobtype %>" class="col-sm-12 btn btn-warning">###deleteall###</a>
		</div>
	</div>
	
		
	<% include ../partials/paginator %>
</div>
</div>