<% layout('layout') -%>
<div id="content">
	<div class="container">
		<h3 class="title">
			/<a role="button" href="/logs/">logs</a>/<% var dirs = folder.split("/"); for (var i=1; i<dirs.length; i++) { %><a role="button" href="/logs/<%= dirs.slice(0,i).join("/") %>"><%= dirs[i-1] %></a>/<% } %>
		</h3>

		<div class="container">
			<% if (data.length>0) { %>
				<div id="searchresults">
					
					<% for (var i=0;i<data.length;i++) { var file = data[i]; if (typeof file != "undefined") { %>
						<div class="row">
							<div class="col-sm-8">
							
								<a role="button" href="/logs/<%= folder %><%= file.file %>" <% if (!file.dir) { %>target="blank"<% } %>><% if (file.dir) { %>/<%= file.file %>/<% } else { %><%= file.file %><% } %></a>
							</div>
							<div class="col-sm-4">
								<span class="col-sm-4"><% if (file.dir) { %>DIR<% } else { %><%= filesizebeautify(file.stats.size) %><% } %></span>
								<span class="col-sm-8 text-right"><%= DateToOutput(file.stats.birthtime) %></span>
							</div>
						</div>
					<% } } %>
				</div>
			<% } %>
		</div>
	</div>
</div>

<% include ../partials/paginator %>