<% layout('layout') -%>
<div id="content">
	<div class="container">
		<h3 class="title">/<%= folder %></h3>
		
		<div class="row">
			<form class="col-sm-12 form-horizontal" method="post" enctype="multipart/form-data">
				<div class="input-group">
					<input id="uploadinput" type="file" class="form-control" name="file" onFocus="this.select()">
					<input type="hidden" name="folder" value="<%= folder %>" class="form-control">
					<span class="input-group-btn">
						<button id="uploadbutton" class="btn btn-primary" type="submit">###upload###</button>
					</span>
				
				</div>
			</div>
		</div>
			
		
		
		<div class="container">
		<% if (data.length>0) { %>
			<div id="searchresults">
	  
				<% for (var i=0;i<data.length;i++) { var file = data[i]; if (typeof file != "undefined") { %>
					<a role="button" href="/<%= folder %>/<%= file %>"><%= file %></a><br>
				<% } } %>
			</div>
		  <% } %>
	  </div>
	</div>
</div>

<% include ../partials/paginator %>