<% if (typeof query == "undefined") { query = ""; } %>

<% if (data.length>0) { %>
	<div class="searchresults">

		<% for (var i=0;i<data.length;i++) { var job = data[i]; if (typeof job != "undefined") { %>
			<div class="container result shadow">
				<% include ../details/job %>
				<hr class="simple-divider">
				
				<div class="container">
					<div class="col-sm-6 text-spacing">
						<button onclick="window.open('/job/<%= job._id %><% if (query && query!="") { %>?h=<%= query %><% } %>');" class="btn ">###details###</button>
					</div>

							
					<div class="col-sm-6 text-spacing text-right">
						<% if (user) { %>
					
							<% if (user.admin) { %>
								<button onclick="window.open('/admin/edit-job/<%= job._id %>');" class="btn btn-admin">###edit###</button>
								<button onclick="window.open('/admin/delete-job/<%= job._id %>');" class="btn btn-admin">###delete###</button>
							<% } else if (user.manager) { %>
								<button onclick="window.open('/manager/edit-job/<%= job._id %>');" class="btn btn-admin">###edit###</button>
								<button onclick="window.open('/manager/delete-job/<%= job._id %>');" class="btn btn-admin">###delete###</button>
							<% } else if (user.employer) { %>
								<button onclick="window.open('/employer/edit-job/<%= job._id %>');" class="btn btn-admin">###edit###</button>
								<button onclick="window.open('/employer/delete-job/<%= job._id %>');" class="btn btn-admin">###delete###</button>
							<% } %>
						<% } %>
					</div>
				</div>
				
				
			</div>
		<% } } %>
	

	</div>
  <% } %>
  
