<!-- paginator -->
<div class="row">
	<% query = query || ""; %>
	<div class="col-xs-12">
		<div class="pull-left">
			<% if (page>1){ %>
				<a role="button" href="?<%= 'q='+query+'&p='+(+page-1)+'&n='+number %>" class="btn btn-primary btn-sm">###prevpage###</a>
			<% } %>
		</div>
		<div class="centertext">
			<p>###showing###: <% if (total>number) { %><%= Math.min(number*(page-1)+1,total) %>-<%= Math.min(number*page,total) %><span class="text-muted"> (###total###: <%= total %>)</span><% } else { %><%= total %><% } %></p>
		</div>
		<div class="pull-right">
			<% if (total>number*page){ %>
				<a role="button" href="?<%= 'q='+query+'&p='+(+page+1)+'&n='+number %>" class="btn btn-primary btn-sm pull-right">###nextpage###</a>
			<% } %>
		</div>
	</div>
</div>