<!-- paginator -->
<div class="row">
	<div class="col-xs-12">
		<div class="pull-left">
			<% if (page>1){ %>
				<a role="button" href="?<%= 'q='+query+'&p='+(+page-1)+'&n='+number %>" class="btn btn-primary btn-sm">###previous###</a>
			<% } %>
		</div>
		<div class="resultnumber">
			<p>###results###: <% if (total>number) { %><%= number*(page-1) %>-<% } %><%= Math.min(number*page,total) %><% if (total>number) { %> ###total### <%= total %><% } %></p>
		</div>
		<div class="pull-right">
			<% if (total>number*page){ %>
				<a role="button" href="?<%= 'q='+query+'&p='+(+page+1)+'&n='+number %>" class="btn btn-primary btn-sm pull-right">###next###</a>
			<% } %>
		</div>
	</div>
</div>