<!-- searchbar-advanced -->
<div class="container">
	<h1 class="title">###search###</h1>
	<form class="col-sm-12 form-horizontal" method="get">
		<input type="hidden" name="p" value="1">
		<div class="form-group">
			<div class="row">
				<div class="col-sm-2">
					<label for="number" class="control-label">###results###:</label>
					<input id="number" type="number" name="n" class="form-control" value="<%= number || '' %>">
				</div>
				
				<div class="col-sm-2">
					<label for="sort" class="control-label">###sortmethod###:</label>
					<select id="sort" name="s" class="selectpicker form-control">
						<option label="###select###"></option>
						<% for(var k in sortmethods){ %>
							<option <% if (sortmethod && sortmethod==sortmethods[k]) { %>selected="selected"<% } %> value="<%= sortmethods[k] %>">###<%=sortmethods[k] %>###<% if (defaultsort==sortmethods[k]) { %> ###default###<% } %></option>
						<% } %>
					</select>
				</div>

				<div class="col-sm-4">
					<label for="field" class="control-label">###jobfield###:</label>
					<select id="field" name="f" multiple class="selectpicker form-control" data-live-search="true">
						<% for(var k in jobfields){ %>
							<option <% if (jobfield && jobfield.indexOf(jobfields[k]._id)>-1) { %>selected="selected"<% } %> value="<%= jobfields[k]._id %>"><%=jobfields[k].name %></option>
						<% } %>
					</select>
				</div>

				<div class="col-sm-4">
					<label for="type" class="control-label">###jobtype###:</label>

					<select id="type" name="t" multiple class="selectpicker form-control" data-live-search="true">
						<% for(var k in jobtypes){ %>
							<option <% if (jobtype && jobtype.indexOf(jobtypes[k]._id)>-1) { %>selected="selected"<% } %> value="<%= jobtypes[k]._id %>"><%=jobtypes[k].name %></option>
						<% } %>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<input id="searchinput" type="text" class="form-control" name="q" value="<%= query || '' %>" placeholder="###searchtext###" onFocus="this.select()" autofocus>

				<span class="input-group-btn">
					<button id="searchbutton" class="btn btn-primary" type="submit">###search###</button>
				</span>
			
			</div>
		</div>
	</form>
</div>