<!-- topbar -->
<div id="normal_tools">
	<div id="tools">
		<div class="center">
			<ul class="languages-search">
				<% if (!user) { %>
				  <li><a href="/user/signup"><span class="glyphicon glyphicon-user"></span><%= trans("Sign Up") %></a></li>
				  <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span><%= trans("Log In") %></a></li>
				  <% } else { %>
						<li><a href="/user/profile"><%= user.name%></a></li>
						<li><a href="/user/logout"><%= trans("Log out") %></a></li>
					<% } %>
				<li id="menusearch" class="search">
					<form method="get" action="/search">
						<input type="text" name="q" size="20" type="text" placeholder="<%= trans("Search") %>" title="<%= trans("Search") %>" id="aui_3_4_0_1_1675" class="search_input">
						<input src="/img/search.png" title="<%= trans("Search") %>" type="image" alt="<%= trans("Search") %>"> 
					</form>
				</li>

			</ul>
			<ul class="help-links">
				<li><a href="/language/finnish">Suomeksi</a></li>
				<li><a href="/language/english">In English</a></li>
			</ul>
		</div>
	</div>
</div>