<% layout('layout') -%>
<div class="container">

		<div class="page-header">
		  <h1><%= trans("Sign up") %></h1>
	  </div>

	 
	<form class="form-horizontal" method="post" action="?r=<%= returnpage %>">

		<% include ../forms/user %>
		
		<div class="form-group">
			<div class="col-sm-9 col-sm-offset-3">
				<div class="checkbox">
						<input type="checkbox"><%= trans("I accept") %> <a href="/terms"><%= trans("Terms") %></a>
				</div>
			</div>
		</div> <!-- /.form-group -->
		
		<hr class="simple-divider">
				
		<div class="form-group">
			<div class="col-sm-4 col-sm-offset-4">
				<button type="submit" class="btn btn-primary btn-block"><%= trans("Register") %></button>
			</div>
		</div>
	</form> <!-- /form -->
</div>