<% layout('layout') -%>
<div class="container">

		<div class="page-header">
		  <h1><%= trans("Sign up") %></h1>
	  </div>

	 
	<form class="form-horizontal" method="post" action="?r=<%= returnpage %>">

		<% include ../forms/user %>
		
		<div class="form-group">
			<div class="col-sm-9 col-sm-offset-3">
				<div class="col-sm-4">
						<label class="checkbox-inline" for="terms">
							<input type="checkbox" name="terms" id="terms"><%= trans("I accept") %> <a href="/terms" target="_blank"><%= trans("Terms of Service") %></a>
						</label>
				</div>
			</div>
		</div> <!-- /.form-group -->
		
		<div class="form-group">
			<div class="col-sm-12">
				<div class="g-recaptcha" data-sitekey="<%= captchasite %>"></div>
			</div>
		</div>
		<hr class="simple-divider">
				
		<div class="form-group">
			<div class="col-sm-4 col-sm-offset-4">
				<button type="submit" class="btn btn-primary btn-block"><%= trans("Register") %></button>
			</div>
		</div>
	</form> <!-- /form -->
</div>