<% layout('layout') -%>

<div class="container">

	<% include ../details/category %>

	<div class="row">
		<div class="col-sm-12">
			<% if (user) { %>
				<% if (user.admin) { %>
					<div class="pull-right">
						<a role="button" href="/admin/edit-category/<%= category._id %>?r=<%= returnpage %>" class="btn btn-primary btn-lg btn-warning"><%= trans("Edit") %></a>
						<a role="button" href="/admin/delete-category/<%= category._id %>?r=<%= returnpage %>" class="btn btn-primary btn-lg btn-warning"><%= trans("Delete") %></a>
					</div>
				<% } %>
			<% } %>
			
		</div>
	</div> 	
							
	<hr class="simple-divider">
	
  <div class="row">
   <div id="searchresults">
	  <% for (var i=0; i<jobs.length; i++) { var entry = jobs[i]; if (typeof entry != 'undefined') { %>
			<% include ../details/searchresult %>
			<% if (i<jobs.length) { %>
				<hr class="simple-divider">
			<% } %>
		<% } } %>
	</div>
  </div>
</div>
