<% layout('layout') -%>
<link rel="stylesheet" href="/css/findjob.css">
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>
          Find your jobs here ! <small>something here</small>
        </h1>
      </div>
      <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#fieldtab"><h5>Search by tags</h5></a></li>
        <li><a data-toggle="pill" href="#typetab"><h5>Search by keyword</h5></a></li>
      </ul>
      <div class="tab-content">

        <div id="fieldtab" class="tab-pane fade in active">
          <form action="/search" method="post">

            <div class="row"><h3>         </h3></div>
            <div class="row">
              <div class="col-xs-9">



                <div class="form-group">
                  <select class="selectpicker form-control" multiple title="Fields" data-live-search="true" name="q">

                    <% for(var i=0; i<jobfields.length;i++){ %>
                      <option> <%=jobfields[i].field %></option>
                      <% } %>
                    </select>

                  </div>
                </div>

                <!-- <div class="row">
                <div class="col-xs-9">
					<div class="form-group">
					<select class="selectpicker form-control" multiple title="Job Type" data-live-search="true">
					<option>TA</option>
					<option>Trainee</option>
					<option>PhD</option>
				  </select>
				</div>
			  </div>
			</div> -->
			<div class="col-xs-9">
			  <button id="KeywordButton" class="btn btn-primary btn-block" type="submit"><span class="glyphicon glyphicon-search"></span>Go!</a>
			  </div>
			</div>
		  </form>
		</div>

		<div id="typetab" class="tab-pane fade">
		  <h3>   </h3>
		  <div class="row">
			<div class="col-xs-9">
			  <form method="post" action="/search">
				<div class="input-group">
				  <input type="text" class="form-control" name="q" placeholder="Search for...">
				  <span class="input-group-btn">
					<button class="btn btn-primary" type="submit">Go!</button>
				  </span>
				</div>
			  </form>
			</div>
		  </div>
		</div>
	  </div>
  </div>
 </div>

	<hr>

	<div class="row">
	  <div class="col-md-9">
		<div class="row">
		  <h2>Search result : </h2>
		</div>

		<div class="col-md-9 col-md-push-1">
			<%= JSON.stringify(jobs) %>
		  <%for (var i=0;i<jobs.length;i++) { %>
			<h3><%= jobs[i].title %> <a href="#" class="href"><span class="text-muted"><%= jobs[i].company %></span></a></h3>


			<p class="lead">Field: <%= jobs[i].field.field %></p>
			<p class="lead">Type: <%= jobs[i].type %></p>
			<p class="lead">From: <%= jobs[i].startDate %></p>
			<p class="lead">To: <%= jobs[i].endDate %></p>
			<p class="lead">Address: <%= jobs[i].address %></p>
			<p class="lead">Desired skills: <%= jobs[i].skills %></p>
			<p class="lead text-justify">Description: <%= jobs[i].description %></p>

			<li><a href="/job/<%= jobs[i]._id %>" class="href"><h4>More about this job</h4></a></li>
			<hr>
			<% } %>

			<div class="row">
			  <ul class="pagination pagination-lg">
				<li>
				  <a href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				  </a>
				</li>

				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li>
				  <a href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				  </a>
				</li>
			  </ul>

			</div>
		  </div>

		</div>
		<div class="col-md-3">
		  <h1><%= trans("Join us") %></h1>
		  <a href="/signup" class="href"><h3><span class="text-muted">Sign up now to receive newest offers!</span></h3></a>


		  <hr>
		  <h1>Sponsor content</h1>
		</div>
	</div>
</div>