<% layout('layout') -%>
	<% include ../partials/slider %>
	<div id="content">
		<% if (document && document.content && document.content!="" || (user && user.admin) ) { %>
			
			<% include ../details/document %>
			
			<hr class="empty-divider">
		<% } %>

		<div class="container welcome">	
			<div class="row">
				<% if (!user) { %>
	
					<div class="col-sm-6">
						<a href="/user/login" class=" btn btn-primary btn-block vertical-spacing" role="button">###login###</a>
					</div>
					<div class="col-sm-6">
						<a class="btn btn-primary btn-warning btn-block vertical-spacing" href="/user/signup" role="button">###signup###</a>
					</div>
				<% } else { %>

				  <div class="col-sm-12">
					<a href="/user/profile" class="col-sm-12 btn btn-default btn-lg" role="button">###welcomeback### <span class="btn-link"><%= user.name %></span></a>
				  </div>
				<% } %>
			</div>
		</div>
			
		<hr class="empty-divider">
		
		<div class="container shadow searchbar">		
			<h1 class="text-left title">###search###</h1>
			
			<div class="row spacing">
				<div class="col-lg-6 vertical-spacing">
					
						
						
						<select class="form-control" onChange="window.location.href=this.value">
							<option value="#" label="###searchbyfield###"></option>
							<% for(var k in jobfields){ var entry = jobfields[k]; if (typeof entry != "undefined") { %>
								 <option value="/search?f=<%= entry._id %>"><%= entry.name %></option>
							<% } } %>
						</select>
					
				</div>
				
				<div class="col-lg-6 vertical-spacing">
					
						
						
						<select class="form-control" onChange="window.location.href=this.value">
							<option value="#" label="###searchbytype###"></option>
							<% for(var k in jobtypes){ var entry = jobtypes[k]; if (typeof entry != "undefined") { %>
								 <option value="/search?t=<%= entry._id %>"><%= entry.name %></option>
							<% } } %>
						</select>
					
				</div>
			</div>
			
			<div class="row spacing">
				<div class="col-xs-12">
					<a href="/search" class="col-xs-12 btn btn-default btn-lg" role="button">
						<h3 class="centertext">###listalloffers###</h3>
					</a>
				</div>
			</div>
		</div>
		
		<hr class="empty-divider">
		<!-- Marketing messaging and featurettes
		================================================== -->
		
		<% if (featuredjobs && featuredjobs.length && featuredjobs.length>0) { %>
			<div class="container">
				
				<!-- START THE FEATURETTES -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="text-left title">###featureds###</h1>
						<% data = featuredjobs; %>
						
						<% include ../partials/jobs %>
					</div>
				</div>
			</div>
		<% } %>
		
		<% if (newestjobs && newestjobs.length && newestjobs.length>0) { %>
			<div class="container">
				
				<!-- START THE FEATURETTES -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="text-left title">###newest###</h1>
					
						<% data = newestjobs; %>
						
						<% include ../partials/jobs %>
					</div>
				</div>
			</div>
		<% } %>
		
		<% if (0==1) { %>
			
			<hr class="container-divider">		
			<!-- Wrap the rest of the page in another container to center all the content. -->
			
			<div class="container">

			  <!-- Three columns of text below the carousel -->

				<!--Featured company area -->
				<div class="row">
					
					<div class="col-lg-12">
						<h1 class="text-left title">###featured###</h1>
					
					  <div class="row featurette">
						  <div class="col-md-3">
							<a href="#">
							  <img class="featurette-image img-responsive center-block" src="http://lorempixel.com/200/200" alt="company logo" style="width:200px;height:200px;">
							</a>
						  </div>
						  <div class="col-md-3">
							<a href="#">
							  <img class="featurette-image img-responsive center-block" src="http://lorempixel.com/200/200" alt="company logo" style="width:200px;height:200px;">
							</a>
						  </div>
						  <div class="col-md-3">
							<a href="#">
							  <img class="featurette-image img-responsive center-block" src="http://lorempixel.com/200/200" alt="company logo" style="width:200px;height:200px;">
							</a>
						  </div>
						  <div class="col-md-3">
							<a href="#">
							  <img class="featurette-image img-responsive center-block" src="http://lorempixel.com/200/200" alt="company logo" style="width:200px;height:200px;">
							</a>
						  </div>
						</div>
					</div>
				</div>
				
			</div>
		<% } %>
	</div>