<% layout('layout') -%>
	<% include ../partials/slider %>
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="title"><%= trans("Welcome") %></h1>
					<h1><%= trans("This is where you find your employer or employee") %></h1>

					<% if (!user) { %>
						<div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
							<a class="btn btn-primary btn-lg" href="/user/signup" role="button"><%= trans("Signup") %></a>
						</div>
						<div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
							<a href="/user/login" class="btn btn-default btn-lg" role="button"><%= trans("Log In") %></a>
						</div>
					<% } else { %>

					  <div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
						<a href="/user/profile" class="btn btn-default btn-lg" role="button"><%= trans("Welcome back") %> <span class="btn-link"><%= user.name %></span></a>
					  </div>
					<% } %>
				</div>

			</div>
			
			<hr class="container-divider">
			
			<div class="row">
				<div class="col-md-6">

					<h1 class="text-left title"><%= trans("Search by field") %></h1>
					
					<% for(var k in jobfields){ %>
						<div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
							<a href="/category?nam=<%= encodeURIComponent(jobfields[k]) %>&cat=<%= encodeURIComponent("Job field") %>" class="btn btn-link">
								<h3 class="text-left"><span class="glyphicon glyphicon-chevron-right"></span><%= jobfields[k] %></h3>
							</a>
						</div>
					<% } %>
					
				</div>
				
				<div class="col-md-6">
					<h1 class="text-left title"><%= trans("Search by type") %></h1>
					
					<% for(var k in jobtypes){ %>
						<div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
							<a href="/category?nam=<%= encodeURIComponent(jobtypes[k]) %>&cat=<%= encodeURIComponent("Job type") %>" class="btn btn-link">
								<h3 class="text-left"><span class="glyphicon glyphicon-chevron-right"></span><%= jobtypes[k] %></h3>
							</a>
						</div>
					<% } %>
				</div>
			</div>
			
			<hr class="simple-divider">
			
			<div class="row">
				<div class="col-md-12">
					<a href="/search" class="btn btn-link btn-default btn-lg" role="button">
						<h3 class="text-left"><%= trans("List all available offers") %></h3>
					</a>
				</div>
			</div>
		</div>
		<!-- Marketing messaging and featurettes
		================================================== -->
		
		<% if (featuredjobs && featuredjobs.length && featuredjobs.length>0) { %>
			<hr class="content-divider">
			
			<div class="container">
				
				<!-- START THE FEATURETTES -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="text-left title"><%= trans("Featured Positions") %></h1>
						
						<!--use square images here!!!!-->
						<% for(var i=0; i<featuredjobs.length;i++){ var entry = featuredjobs[i];  if (typeof entry != 'undefined') { %>
							<div class="row">
							  <div class="col-md-12 mark">
								<h2><%= entry.title %><span class="text-muted"> - <%= entry.company %> - </span><%= entry.type %></h2>
								<h3 class="text-muted"><%= entry.description %><a role="button" href="/job/<%= entry._id %>" class="btn btn-primary btn-sm pull-right"><%= trans("Details") %></a></h3>
							  </div>
							</div>
						<% } } %>
					</div>
				</div>
			</div>
		<% } %>
		
		<% if (newestjobs && newestjobs.length && newestjobs.length>0) { %>
			<hr class="content-divider">
			
			<div class="container">
				
				<!-- START THE FEATURETTES -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="text-left title"><%= trans("Newest Positions") %></h1>
					
						<!--use square images here!!!!-->
						<% for(var i=0; i<newestjobs.length;i++){ var entry = newestjobs[i]; if (typeof entry != 'undefined') { %>
							<div class="row">
							  <div class="col-md-12 mark">
								<h2><%= entry.title %><span class="text-muted"> - <%= entry.company %> - </span><%= entry.type %></h2>
								<h3 class="text-muted"><%= entry.description %><a role="button" href="/job/<%= entry._id %>" class="btn btn-primary btn-sm pull-right"><%= trans("Details") %></a></h3>
							  </div>
							
							</div>
						<% } } %>
					</div>
				</div>
			</div>
		<% } %>
		
		<hr class="container-divider">		
		<!-- Wrap the rest of the page in another container to center all the content. -->
		
		<div class="container">

		  <!-- Three columns of text below the carousel -->

			<!--Featured company area -->
			<div class="row">
				
				<div class="col-lg-12">
					<h1 class="text-left title"><%= trans("Featured companies") %></h1>
				
				  <div class="row featurette">
					  <div class="col-md-3">
						<a href="#">
						  <img class="featurette-image img-responsive center-block" src="http://lorempixel.com/200/200" alt="company logo" style="width:200px;height:200px;">
						</a>
					  </div>
					  <div class="col-md-3">
						<a href="#">
						  <img class="featurette-image img-responsive center-block" src="http://lorempixel.com/200/200" alt="company logo" style="width:200px;height:200px;">
						</a>
					  </div>
					  <div class="col-md-3">
						<a href="#">
						  <img class="featurette-image img-responsive center-block" src="http://lorempixel.com/200/200" alt="company logo" style="width:200px;height:200px;">
						</a>
					  </div>
					  <div class="col-md-3">
						<a href="#">
						  <img class="featurette-image img-responsive center-block" src="http://lorempixel.com/200/200" alt="company logo" style="width:200px;height:200px;">
						</a>
					  </div>
					</div>
				</div>
			</div>
			
		</div>
	</div>