<% layout('layout') -%>
	<% include ../partials/slider %>
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1 class="title">###welcome###</h1>
					<div class="container row">
						<% if (!user) { %>
							<h1 class="col-xs-12">###welcometext###</h1>
							<div class="col-xs-6">
								<a class="col-xs-12 btn btn-primary btn-lg" href="/user/signup" role="button">###signup###</a>
							</div>
							<div class="col-xs-6">
								<a href="/user/login" class="col-xs-12 btn btn-default btn-lg" role="button">###login###</a>
							</div>
						<% } else { %>

						  <div class="col-xs-6">
							<a href="/user/profile" class="col-sm-12 btn btn-default btn-lg" role="button">###welcomeback### <span class="btn-link"><%= user.name %></span></a>
						  </div>
						<% } %>
					</div>
				</div>

			</div>
			
			<hr class="container-divider">
			
			<div class="row">
				<div class="col-lg-6">

					<h1 class="text-left title">###searchbyfield###</h1>
					
					<% for(var k in jobfields){ var entry = jobfields[k]; if (typeof entry != "undefined") { %>
						<div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
							<a href="/category/<%= entry._id %>" class="btn btn-link">
								<h3 class="text-left"><span class="glyphicon glyphicon-chevron-right"></span><%= entry.name %></h3>
							</a>
						</div>
					<% } } %>
					
				</div>
				
				<div class="col-lg-6">
					<h1 class="text-left title">###searchbytype###</h1>
					
					<% for(var k in jobtypes){ var entry = jobtypes[k]; if (typeof entry != "undefined") { %>
						<div class="visible-xs-inline-block visible-sm-inline-block visible-md-inline-block visible-lg-inline-block">
							<a href="/category/<%= entry._id %>" class="btn btn-link">
								<h3 class="text-left"><span class="glyphicon glyphicon-chevron-right"></span><%= entry.name %></h3>
							</a>
						</div>
					<% } } %>
				</div>
			</div>
			
			<hr class="simple-divider">
			
			<div class="row">
				<div class="col-xs-12">
					<a href="/search" class="col-xs-12 btn btn-default btn-lg" role="button">
						<h3 class="centertext">###listalloffers###</h3>
					</a>
				</div>
			</div>
		</div>
		
		<hr class="container-divider">
		<!-- Marketing messaging and featurettes
		================================================== -->
		
		<% if (featuredjobs && featuredjobs.length && featuredjobs.length>0) { %>
			<div class="container">
				
				<!-- START THE FEATURETTES -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="text-left title">###featureds###</h1>
						
						<!--use square images here!!!!-->
						<% for(var i=0; i<featuredjobs.length;i++){ var entry = featuredjobs[i];  if (typeof entry != 'undefined') { %>
							<div class="container result shadow">
								<% include ../details/job %>
								<hr class="simple-divider">
								<div class="col-sm-6"><a role="button" href="/job/<%= entry._id %>" class="btn btn-primary btn-sm col-sm-2">###details###</a></div>
								<% if (user.admin) { %>
									<div class="col-sm-6 text-right">
										<a role="button" href="/admin/delete-job/<%= entry._id %>" class="btn btn-primary btn-sm btn-warning col-sm-2">###delete###</a>
										<a role="button" href="/admin/edit-job/<%= entry._id %>" class="btn btn-primary btn-sm btn-warning col-sm-2">###edit###</a>
									</div>
								<% } %>
								<hr class="empty-divider">
							</div>
						<% } } %>
					</div>
				</div>
			</div>
		<% } %>
		
		<% if (newestjobs && newestjobs.length && newestjobs.length>0) { %>
			<div class="container">
				
				<!-- START THE FEATURETTES -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="text-left title">###newest###</h1>
					
						<!--use square images here!!!!-->
						<% for(var i=0; i<newestjobs.length;i++){ var entry = newestjobs[i]; if (typeof entry != 'undefined') { %>
							<div class="container result shadow">
								<% include ../details/job %>
								<hr class="simple-divider">
								<div class="col-sm-6"><a role="button" href="/job/<%= entry._id %>" class="btn btn-primary btn-sm col-sm-2">###details###</a></div>
								<% if (user.admin) { %>
									<div class="col-sm-6 text-right">
										<a role="button" href="/admin/delete-job/<%= entry._id %>" class="btn btn-primary btn-sm btn-warning col-sm-2">###delete###</a>
										<a role="button" href="/admin/edit-job/<%= entry._id %>" class="btn btn-primary btn-sm btn-warning col-sm-2">###edit###</a>
									</div>
								<% } %>
								<hr class="empty-divider">
							</div>
						<% } } %>
					</div>
				</div>
			</div>
		<% } %>
		
		<% if (0==1) { %>
			
			<hr class="container-divider">		
			<!-- Wrap the rest of the page in another container to center all the content. -->
			
			<div class="container">

			  <!-- Three columns of text below the carousel -->

				<!--Featured company area -->
				<div class="row">
					
					<div class="col-lg-12">
						<h1 class="text-left title">###featured###</h1>
					
					  <div class="row featurette">
						  <div class="col-md-3">
							<a href="#">
							  <img class="featurette-image img-responsive center-block" src="http://lorempixel.com/200/200" alt="company logo" style="width:200px;height:200px;">
							</a>
						  </div>
						  <div class="col-md-3">
							<a href="#">
							  <img class="featurette-image img-responsive center-block" src="http://lorempixel.com/200/200" alt="company logo" style="width:200px;height:200px;">
							</a>
						  </div>
						  <div class="col-md-3">
							<a href="#">
							  <img class="featurette-image img-responsive center-block" src="http://lorempixel.com/200/200" alt="company logo" style="width:200px;height:200px;">
							</a>
						  </div>
						  <div class="col-md-3">
							<a href="#">
							  <img class="featurette-image img-responsive center-block" src="http://lorempixel.com/200/200" alt="company logo" style="width:200px;height:200px;">
							</a>
						  </div>
						</div>
					</div>
				</div>
				
			</div>
		<% } %>
	</div>