<% layout ('layout') -%>
 <div class="content">
    <div class="container">
			
		<% include ../details/job %>
						
		<hr class="simple-divider">
		
		<div class="row">
			<div class="col-sm-12">
				<a role="button" href="/apply/<%= entry._id %>?r=<%= returnpage %>" class="col-xs-4 col-sm-offset-4 btn btn-primary btn-lg">###apply###</a>
				<% if (user) { %>
					<% if (user.admin) { %>
						<div class="pull-right">
							<a role="button" href="/admin/edit-job/<%= entry._id %>?r=<%= returnpage %>" class="btn btn-primary btn-lg btn-warning">###edit###</a>
							<a role="button" href="/admin/delete-job/<%= entry._id %>?r=<%= returnpage %>" class="btn btn-primary btn-lg btn-warning">###delete###</a>
						</div>
					<% } %>
				<% } %>
				
			</div>
		</div> 	
	</div>
</div>