<% layout('layout') -%>
<div class="content">


	<div class="container">
		<div class="row">
			<div class="col-md-9">
			  <h1 class="title"><%= trans("Find your jobs here!") %></h1>
			</div>
			
			<div class="col-md-3">
				<div class="col-md-12">
					<% if (!user) { %>
					  <h1><%= trans("Join us") %></h1>
					  <a href="/signup" class="href"><h3><span class="text-muted"><%= trans("Sign up now to receive newest offers!") %></span></h3></a>
					  <hr class="simple-divider">
					<% } %>

				  
					<h1><%= trans("Sponsor content") %></h1>
				</div>
			</div>
		</div>
	</div>

	<hr class="container-divider">
	
	<% include ../partials/searchbar-advanced %>

	<hr class="simple-divider">
	
	<div class="container">
		<% if (data.length>0) { %>
			<div id="searchresults">
		  
				  <% for (var i=0;i<data.length;i++) { var entry = data[i]; if (typeof entry != 'undefined') { %>
						<% include ../details/searchresult %>
						<hr class="simple-divider">
					<% } } %>
				<script>
					function highlightSearch() {
						var text = "<%= query %>";
						console.log("searching:" + text);
						if (text && text!="")
						{
							var query = new RegExp("(\\b" + text + "\\b)", "gim");

							var searchEles = document.getElementById("searchresults").children;
							for(var i = 0; i < searchEles.length; i++) {
								var child = searchEles[i];	
									if(child.tagName == "P") {
													
									var e = child.innerHTML;
									var enew = e.replace(/(<span>|<\/span>)/igm, "");
									child.innerHTML = enew;
									var newe = enew.replace(query, "<span class='highlight'>$1</span>");
									child.innerHTML = newe;
								}
							}
						}
					}
				</script>
            <% } %>

          </div>
      </div>
	  <% include ../partials/paginator %>
</div>