<% if (typeof document != "undefined" && document) { %>

	<% var emptydocument = ( !document.content || document.content==""); %>
	
	
	
	<% if (user && user.admin) { %>
		<div class="container shadow<% if (emptydocument) { %> placeholder<% } %>">
		
			<div class="container">
				<div class="row">
				   <div class="col-sm-12">	
					   <div class="title">
							<%= document.name %>
							<% if (!emptydocument) { %>
								<span class="pull-right small">
									<a role="button" onclick="window.open('/admin/edit-document/<%= document._id %>');" class="btn-admin btn-simple">###edit###</a>
								</span>
							<% } %>
							
						</div>
					</div>
				</div>
				<% if ( !emptydocument) { %>
					<div class="row">
						<div class="col-sm-12 vertical-spacing">
							<div class="col-xs-12 vertical-spacing ">
								<div class="lead parsed text-justify"><% if (typeof unparsed != "undefined" && unparsed) { %><%= document.content %><% } else { %><%- catparse(document.content) %><% } %></div>
							</div>
						</div>		   
					</div>	
				<% } %>
			</div>	
				
			<% if (emptydocument) { %>
				<div class="text-center">
					<button role="button" onclick="window.open('/admin/edit-document/<%= document._id %>');" class="col-sm-12 btn btn-admin btn-simple">###add###</button>
				</div> 
			<% } %>
		</div>
	<% } else { %>		
		<div class="container shadow">
			<% include ../details/document-simple %>
		</div>
	<% } %>
<% } %>