
<% if (typeof job != "undefined" && job) { %>
	<% var DisplayDate = DateToDate(job.displayDate); %>

	 <div class="row">
		<div class="col-sm-12 vertical-spacing">	
			<div class="col-xs-12">
				<h3 class="inline">
					<a href="/job/<%= job._id %>" class="href"><%- highlight(job.title) %></a> <% if (job.company && job.company!="") { %>— <a href="/search?q=<%= encodeURIComponent(job.company) %>" class="href"><%- highlight(job.company) %></a><% } %>
				</h3>
				<span class="text-muted"><% if (job && job.featured) { %> ###featured###<% } %><% if (job && job.hidden) { %> ###hidden###<% } %><% if (job.displayDate<=LastDay) { %> ###expired###<% } %></span>
				
				<span class="pull-right text-muted vertical-spacing entryinfo" title="DD.MM.YYYY">###job### ###added###: <%- highlight(DateToOutput(job.date)) %></span>
			</div>
			<div class="col-xs-12 text-muted entryinfo">
				<span class="">###views###: <%= job.views %> — ###faves###: <%= job.apps %></span>
					
				<span class="pull-right">###addedby###: <% if (job.user && job.user.name) { %><a href="/profile/<%= job.user._id %>" class="href"><%= job.user.name %></a><% } else { %>###undefined###<% } %></span>
			</div>
		</div>
	</div>  
	
	<hr class="simple-divider">
	<div class="row">
		<div class="col-sm-12 vertical-spacing">
			<label class="col-sm-12 text-muted">
				<strong>###basicinfo###</strong>
			</label>
		</div>	   
		<div class="col-sm-12 vertical-spacing">
			<label class="col-sm-3">
				<strong>###title###:</strong>
			</label>
			<div class="col-sm-9 text-muted"><%- highlight(job.title) %></div>
	   </div>
	   	<% if (job.company) { %>	   
		<div class="col-sm-12 vertical-spacing">
			<label class="col-sm-3">
				<strong>###company###:</strong>
			</label>
			<div class="col-sm-9 text-muted"><%- highlight(job.company) %></div>
	   </div>
	   <% } %>
	   	<% if (job.website) { %>	   
		<div class="col-sm-12 vertical-spacing">
			<label class="col-sm-3">
				<strong>###website###:</strong>
			</label>
			<div class="col-sm-9 text-muted"><a href="<%= job.website %>" target="_blank" class="href"><%- highlight(job.website) %></a></div>
	   </div>
	   <% } %>
		<div class="col-sm-12 vertical-spacing">
			<label class="col-sm-3">
				<strong>###jobfield###:</strong>
			</label>
			<div class="col-sm-9 text-muted">
			<% if (job.field) { var fields = CatsToObjects(job.field); for (k in fields) { %>
			<a href="/search?f=<%= fields[k]._id %>" class="href"><%= fields[k].namearray[language] || fields[k].name %></a><span>, </span>
			<% } } else { %>###undefined###<% } %>
			</div>
	   </div>
	   <div class="col-sm-12 vertical-spacing">
			<label class="col-sm-3">
				<strong>###jobtype###:</strong>
			</label>
			<div class="col-sm-9 text-muted">
			<% if (job.type) { var types = CatsToObjects(job.type); for (k in types) { %>
			<a href="/search?t=<%= types[k]._id %>" class="href"><%= types[k].namearray[language] || types[k].name %></a><span>, </span>
			<% }  } else { %>###undefined###<% } %>
			</div>
	   </div>	   
	   <div class="col-sm-12 vertical-spacing">
			<label class="col-sm-3">
				<strong>###displaydate###:</strong>
			</label>
			<div class="col-sm-9 text-muted" title="DD.MM.YYYY"<% if (DisplayDate<=Today) { %> style="color: red;"<% } %>><% if ( DisplayDate<=Today && DisplayDate>LastDay ) { %>###today###<% } else { %><%- highlight(DateToInput(DisplayDate)) %><% } %></div>
	   </div>
	   
	</div>
	
	
	

	<hr class="simple-divider">

	<div class="row">
		<div class="col-sm-12 vertical-spacing">
			<label class="col-sm-12 text-muted">
				<strong>###additional###</strong>
			</label>
		</div>
	   
		<% if (job.beginning) { %>
		<div class="col-sm-12 vertical-spacing">
			<label class="col-sm-3">
				<strong>###beginning###:</strong>
			</label>
			<div class="col-sm-9 text-muted"><%= job.beginning %></div>
		</div>
		<% } %>	
	   
		<% if (job.duration) { %>
		<div class="col-sm-12 vertical-spacing">
			<label class="col-sm-3">
				<strong>###duration###:</strong>
			</label>
			<div class="col-sm-9 text-muted"><%= job.duration %></div>
	   </div>	
		<% } %>	
	   
		<% if (job.payment) { %>
		<div class="col-sm-12 vertical-spacing">
			<label class="col-sm-3">
				<strong>###payment###:</strong>
			</label>
			<div class="col-sm-9 text-muted"><%= job.payment %></div>
	   </div>	
	   <% } %>	
	   
		<% if (job.skills) { %>
	   <div class="col-sm-12 vertical-spacing">
			<label class="col-sm-3">
				<strong>###jobskills###:</strong>
			</label>
			<div class="col-sm-9 text-muted"><%- highlight(job.skills) %></div>
	   </div>
	   <% } %>	
	 </div>
	 
	
	
	<% var verifieduser = user && user.verified; %> 
	<% if ( (job.address + job.phone + job.email).length>0 ) { %>
	<hr class="simple-divider">
	<div class="row">
		<div class="col-sm-12 vertical-spacing">
			<label class="col-sm-12 text-muted">
				<strong>###contactinfo### ###needverify###</strong>
			</label>
		</div>

		<% if (job.address) { %>	   
		<div class="col-sm-12 vertical-spacing">
			<label class="col-sm-3">
				<strong>###address###:</strong>
			</label>
			<div class="col-sm-9 text-muted"><% if (verifieduser) { %><%- highlight(job.address) %><% } else { %>###hidden###<% } %></div>
	   </div>
	   <% } %>
	   
	   <% if (job.phone) { %>
	   <div class="col-sm-12 vertical-spacing">
			<label class="col-sm-3">
				<strong>###phone###:</strong>
			</label>
			<div class="col-sm-9 text-muted"><% if (verifieduser) { %><%- highlight(job.phone) %><% } else { %>###hidden###<% } %></div>
	   </div>
	   <% } %>
	
		<% if (job.email) { %>
	   <div class="col-sm-12 vertical-spacing">
			<label class="col-sm-3">
				<strong>###email###:</strong>
			</label>
			<div class="col-sm-9 text-muted"><% if (verifieduser) { %><a href="mailto://<%= job.email %>" target="_blank" class="href"><%- highlight(job.email) %></a><% } else { %>###hidden###<% } %></div>
	   </div>
	   <% } %>
	   
	  
	</div>
	<% } %>
	   
	<hr class="simple-divider">

	<div class="row">
		<div class="col-sm-12 vertical-spacing">
			<label class="col-sm-12">
				<strong>###description###:</strong>
			</label>
		</div>		
	
		<div class="col-sm-12">
			<div class="col-sm-12 vertical-spacing">
				<div class="text-justify silverborder description">
					<% if ( job.description) { %><% if (typeof unparsed != "undefined" && unparsed) { %><%= highlight(job.description) %><% } else { %><%- highlight(catparse(job.description)) %><% } %><% } else { %>###undefined###<% } %>
				</div>
			</div>
	   </div>	
   </div>	

<% } %>