<div class="col-sm-12 mark lead shadow">
	<div class="row">
		<div class="col-sm-9"><%- highlight(entry.title) %> <% if (entry.company && entry.company!="") { %><a href="/search?q=company:(<%= encodeURIComponent(entry.company) %>)" class="href"><%- highlight(entry.company) %></a><% } %></div>
		<div class="col-sm-3 text-muted text-right" title="DD.MM.YYYY"><%- highlight(DateToInput(entry.date)) %></div>
	</div>
</div>

<div class="container">
	<div class="col-sm-3 text-spacing">
		<label>###jobfield###: </label>
		<h3 class="text-spacing"><% if (entry.field) { %><a href="/search?f=<%= entry.field._id %>" class="href"><%- highlight(entry.field.name) %></a><% } %></h3>
	</div>
	<div class="col-sm-3 text-spacing">
		<label>###jobtype###: </label>
		<h3 class="text-spacing"><% if (entry.type) { %><a href="/search?t=<%= entry.type._id %>" class="href"><%- highlight(entry.type.name) %></a><% } %></h3>
	</div>
	<div class="col-sm-3 text-spacing">
		<label>###beginning###: </label>
		<h3 class="text-spacing" title="DD.MM.YYYY"><% if (entry.beginning) { %><%- highlight(entry.beginning) %><% } %></h3>
	</div>
	<div class="col-sm-3 text-spacing">
		<label>###displaydate###: </label>
		<% var DisplayDate = DateToDate(entry.displayDate); %>
		<h3 class="text-spacing" title="DD.MM.YYYY"<% if (DisplayDate<=Today) { %> style="color: red;"<% } %>><% if ( DisplayDate<=Today && DisplayDate>=LastDay ) { %>###today###<% } else { %><%- highlight(DateToInput(DisplayDate)) %><% } %></h3>
	</div>
</div>

