<div class="col-sm-12 mark lead shadow">
	<div class="row">
		<div class="col-sm-9"><%- highlight(entry.title) %> <% if (entry.company && entry.company!="") { %><a href="/search?q=company:(<%= encodeURIComponent(entry.company) %>)" class="href"><%- highlight(entry.company) %></a><% } %></div>
		<div class="col-sm-3 text-muted text-right" title="DD.MM.YYYY"><%- highlight(DateToInput(entry.date)) %></div>
	</div>
</div>

<div class="container">
	<div class="col-sm-4 text-spacing">
		<label>###jobfield###: </label>
		<div class="lead"><% if (entry.field) { %><a href="/search?f=<%= entry.field._id %>" class="href"><%- highlight(entry.field.name) %></a><% } %></div>
	</div>
	<div class="col-sm-3 text-spacing">
		<label>###jobtype###: </label>
		<div class="lead"><% if (entry.type) { %><a href="/search?t=<%= entry.type._id %>" class="href"><%- highlight(entry.type.name) %></a><% } %></div>
	</div>
	<div class="col-sm-3 text-spacing">
		<label>###beginning###: </label>
		<div class="lead text-muted" title="DD.MM.YYYY"><% if (entry.beginning) { %><%- highlight(entry.beginning) %><% } %></div>
	</div>
	<div class="col-sm-2 text-spacing">
		<label>###displaydate###: </label>
		<div class="lead text-muted" title="DD.MM.YYYY"><% if (entry.displayDate) { %><%- highlight(DateToInput(entry.displayDate)) %><% } %></div>
	</div>
</div>

