<div class="container shadow">
	<div class="col-sm-12 mark lead">
		<div class="row">
			<div class="col-sm-9"><%- highlight(entry.title) %> <a href="/search?q=company:(<%= encodeURIComponent(entry.company) %>)" class="href"><%- highlight(entry.company) %></a></div>
			<div class="col-sm-3 text-muted text-right"><%- highlight(DateToInput(entry.date)) %></div>
		</div>
	</div>
	<div class="col-sm-6">
		<label>###jobfield###: <div class="lead"><a href="/search?f=<%= encodeURIComponent(entry.field) %>" class="href"><%- highlight(entry.field) %></a></div></label>
	</div>
	<div class="col-sm-6">
		<label>###jobtype###: <div class="lead"><a href="/search?t=<%= encodeURIComponent(entry.type) %>" class="href"><%- highlight(entry.type) %></a></div></label>
	</div>
	<div class="col-sm-6">
		<label>###jobskills###: <div class="text-muted lead"><%- highlight(entry.skills) %></div></label>
	</div>
	<div class="col-sm-6">
		<label>###beginning###: <div class="text-muted lead"><%- highlight(entry.beginning) %></div></label>
	</div>
	<div class="col-sm-6">
		<label>###duration###: <div class="text-muted lead"><%- highlight(entry.duration) %></div></label>
	</div>
		
	<% if (entry.description!="") { %>
		<div class="col-sm-12">
			<label>###description###: <div class="text-muted lead parsed"><%- catparse(highlight(entry.description)) %></div></label>
		</div>
	<% } %>
</div>