
<% if (typeof job != "undefined" && job) { %>
	<% var DisplayDate = DateToDate(job.displayDate); %>

	<div class="row">
		<div class="col-sm-12 text-spacing">	
			<div class="col-sm-8">
				<h3 class="text-spacing">
					<a href="/job/<%= job._id %>" class="href"><%- highlight(job.title) %></a> <% if (job.company && job.company!="") { %>— <a href="/search?q=<%= encodeURIComponent(job.company) %>" class="href"><%- highlight(job.company) %></a><% } %><br><span class="text-muted entryinfo">###views###: <%= job.views %> — ###faves###: <%= job.apps %></span>
				</h3>
			</div>
				
			<div class="col-sm-4 text-right text-spacing">
				<span class="text-muted text-spacing entryinfo" title="DD.MM.YYYY">###job### ###added###: <%- highlight(DateToOutput(job.date)) %></span><br><span class="text-muted text-spacing entryinfo">###addedby###: <% if (job.user && job.user.name) { %><a href="/profile/<%= job.user._id %>" class="href"><%= job.user.name %></a><% } else { %>###undefined###<% } %></span>
				
			</div>
		</div>
	</div>  
	
	<hr class="simple-divider">
	
	<div class="row">
		<div class="col-sm-12 text-spacing">
			<label class="col-sm-3">
				<strong>###jobfield###:</strong>
			</label>
			<div class="col-sm-9 text-muted"><% if (job.field) { %><a href="/search?f=<%= job.field._id %>" class="href"><%- highlight(job.field.name) %></a><% } else { %>###undefined###<% } %></div>
	   </div>
	   <div class="col-sm-12 text-spacing">
			<label class="col-sm-3">
				<strong>###jobtype###:</strong>
			</label>
			<div class="col-sm-9 text-muted"><% if (job.type) { %><a href="/search?t=<%= job.type._id %>" class="href"><%- highlight(job.type.name) %></a><% } else { %>###undefined###<% } %></div>
	   </div>
	</div>

	<hr class="simple-divider">
	 
	<div class="row">

	   <div class="col-sm-12 text-spacing">
			<label class="col-sm-3">
				<strong>###displaydate###:</strong>
			</label>
			<div class="col-sm-9 text-muted" title="DD.MM.YYYY"<% if (DisplayDate<=Today) { %> style="color: red; font-weight: bold;"<% } %>><% if ( DisplayDate<=Today && DisplayDate>=LastDay ) { %>###today###<% } else { %><%- highlight(DateToInput(DisplayDate)) %><% } %></div>
	   </div>
		<% if (job.beginning) { %>
	   <div class="col-sm-12 text-spacing">
			<label class="col-sm-3">
				<strong>###beginning###:</strong>
			</label>
			<div class="col-sm-9 text-muted" title="DD.MM.YYYY"><%- highlight(job.beginning) %></div>
		</div>
		<% } %>
	</div>
	

<% } %>