<h2 class="lead"><%= entry.title %> <a href="/search?q=company:(<%= entry.company %>)" class="href"><span class="text-muted"><%= entry.company %></span></a></h2>
	<p class="lead"><%= trans("Job field") %>: <a href="/search?f=<%= entry.field %>" class="href"><span class="text-muted"><%= entry.field %></span></a></p>
	<p class="lead"><%= trans("Type of job") %>: <a href="/search?t=<%= entry.type %>" class="href"><span class="text-muted"><%= entry.type %></span></a></p>
	<p class="lead"><%= trans("Starting date") %>: <span class="text-muted"><%= DateToInput(entry.startDate) %></span></p>
	<p class="lead"><%= trans("Desired skills") %>: <span class="text-muted"><%= entry.skills %></span></p>
<a role="button" href="/job/<%= entry._id %>" class="btn btn-primary btn-sm"><%= trans("Details") %></a>