<div class="container result">
	<div class="row mark">
	  <div class="col-md-12">
		<h2><%= entry.title %><span class="text-muted"> - <%= entry.company %> - </span><%= entry.type %><span class="text-muted pull-right"><%= DateToInput(entry.date) %></span></h2>
	  </div>
	  <div class="col-sm-12 text-right"><a role="button" href="/job/<%= entry._id %>" class="btn btn-primary btn-sm">###details###</a></div>
	</div>
</div>