<% if (typeof profile != "undefined" && profile) { %>
		 <div class="row">
		   <div class="col-sm-12">
			<div class="col-sm-12 text-spacing">
				<h3 class="text-spacing"><a href="/profile/<%= profile._id %>" class="href"><%= profile.name %></a><span class="datestamp text-muted pull-right text-right text-spacing" title="DD.MM.YYYY">###lastlogin###: <%- highlight(DateToInput(profile.lastlogin)) %></span></h3>
			</div>
		   </div>
		 </div>  
				
		<% if ( profile.admin) { %>
			<hr class="simple-divider">
			<div class="row">	
				<div class="col-sm-12 text-spacing"><label for="isadmin" class="col-sm-3 control-label" style="color: red;"><strong>###admin###</strong></div>
			</div>
		<% } %>
		
		<% if ( profile.employer) { %>
			<hr class="simple-divider">
			<div class="row">	
				<div class="col-sm-12 text-spacing"><label for="isemployer" class="col-sm-3 control-label" style="color: red;"><strong>###employer###</strong></div>
			</div>
		<% } %>
		
		<hr class="simple-divider">
		<% var showsensitive = user && (user._id==profile._id || user.admin || user.employer); %>
		<div class="row">
			<div class="col-sm-12 text-spacing">
				<label class="col-sm-12 text-muted">
					<strong>###sensitive###</strong>
				</label>
		   </div>
		   <div class="col-sm-12 text-spacing">
				<label class="col-sm-3">
					<strong>###email###:</strong>
				</label>
				<div class="col-sm-9 text-muted"><% if ( showsensitive) { %><%= profile.email %> <% } else { %><b>###hidden###</b><% } %></div>
		   </div>
		   <div class="col-sm-12 text-spacing">
				<label class="col-sm-3">
					<strong>###phone###:</strong>
				</label>
				<div class="col-sm-9 text-muted"><% if ( showsensitive) { %><%= profile.phone || "" %> <% } else { %><b>###hidden###</b><% } %></div>
		   </div>
		   <div class="col-sm-12 text-spacing">
				<label class="col-sm-3">
					<strong>###country###:</strong>
				</label>
				<div class="col-sm-9 text-muted"><% if ( showsensitive) { %><%= profile.country || "" %> <% } else { %><b>###hidden###</b><% } %></div>
		   </div>
		   <div class="col-sm-12 text-spacing">
				<label class="col-sm-3">
					<strong>###address###:</strong>
				</label>
				<div class="col-sm-9 text-muted"><% if ( showsensitive) { %><%= profile.address || "" %> <% } else { %><b>###hidden###</b><% } %></div>
		   </div>
		</div>  
		
		<hr class="simple-divider">
		<div class="row">
			<div class="col-sm-12 text-spacing">
				<label class="col-sm-12 text-muted">
					<strong>###basic###</strong>
				</label>
		   </div>
			<div class="col-sm-12 text-spacing">
				<label class="col-sm-3">
					<strong>###birthdate###:</strong>
				</label>
				<div class="col-sm-9 text-muted"><%= DateToInput(profile.dateOfBirth) %></div>
		   </div>	   
		   <div class="col-sm-12 text-spacing">
				<label class="col-sm-3">
					<strong>###gender###:</strong>
				</label>
				<div class="col-sm-9 text-muted"><%= trans(profile.gender) %></div>
		   </div>
		</div>
		
		<hr class="simple-divider">
		 
		<div class="row">
			<div class="col-sm-12 text-spacing">
				<label class="col-sm-12 text-muted">
					<strong>###studies###</strong>
				</label>
		   </div>
			<div class="col-sm-12 text-spacing">
			   <label class="col-sm-3">
					<strong>###studyfield###:</strong>
				</label>
				<div class="col-sm-9 text-muted"><% if ( profile.fieldOfStudy) { %><%= profile.fieldOfStudy.name || "" %><% } %></div>
			</div>
			<div class="col-sm-12 text-spacing">
				<label class="col-sm-3">
					<strong>###studyyear###:</strong>
				</label>
				<div class="col-sm-9 text-muted"><%= profile.yearOfStudies || "" %><% if ( profile.typeOfStudies) { %> / <%= profile.typeOfStudies.name || "" %><% } %></div>
			</div>
		</div>	
			
		<hr class="simple-divider">
		
		<div class="row">	
			<div class="col-sm-12 text-spacing">
				<label class="col-sm-12 text-muted">
					<strong>###recruitment###</strong>
				</label>
		   </div>
		   <div class="col-sm-12 text-spacing">
				<label class="col-sm-3">
					<strong>###jobtypes###:</strong>
				</label>
				<div class="col-sm-9 text-muted"><%= profile.typeOfJob || "" %></div>
		   </div>
		   <div class="col-sm-12 text-spacing">
				<label class="col-sm-3">
					<strong>###skills###:</strong>
				</label>
				<div class="col-sm-9 text-muted">
					<span class="tags"><%= profile.skills || "" %></span>
				</div>
		   </div>

		   <div class="col-sm-12 text-spacing">
				<label class="col-sm-3">
					<strong>###keywords###:</strong>
				</label>
				<div class="col-sm-9 text-muted">
					<span class="tags"><%= profile.keywords || "" %></span>
				</div>
		   </div>
		</div>
		
		<hr class="simple-divider">
		
		<div class="row">	
			<div class="col-sm-12 text-spacing">
				<label class="col-sm-3 text-muted">
					<strong>###cv###</strong>
				</label>
				<div class="col-sm-9 text-muted">
					<% if ( showsensitive) { %><a href="/file/<%= profile.cv %>?uid=<%= profile._id %>"><%= profile.cv %></a><% } else { %><b>###hidden###</b><% } %>
					
				</div>
		   </div>
		</div>
<% } %>