<% if (typeof entry != "undefined" && entry) { %>
	<div class="container lead">
		<div class="row small">
			<div class="col-xs-6">
				<div class="col-sm-12">
					<label class="text-muted small">###name###: </label>
					<div class="text-spacing"><% if (entry.name) { %><%= entry.name %><% } else { %>###undefined###<% } %></div>
				</div>
				<div class="col-sm-12">
					<label class="text-muted small">###email###: </label>
					<div class="text-spacing"><% if (entry.email) { %><%= entry.email %><% } else { %>###undefined###<% } %></div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="col-sm-12">
					<label class="text-muted small">###studyfield###: </label>
					<div class="text-spacing"><% if ( entry.fieldOfStudy) { %><%= entry.fieldOfStudy.name %><% } %></div>
				</div>
				<div class="col-sm-12">
					<label class="text-muted small">###studyyear###: </label>
					<% var DisplayDate = DateToDate(entry.displayDate); %>
					<div class="text-spacing"><%= entry.yearOfStudies %><% if ( entry.typeOfStudies) { %> / <%= entry.typeOfStudies.name %><% } %></div>
				</div>
			</div>
		</div>
	</div>
<% } %>