	<div class="container">
		 <div class="row">
		   <div class="col-sm-12">
			<div class="col-sm-12">
				<h2><%= entry.name %></h2>
			</div>
		   </div>
		 </div>  
		
		<hr class="simple-divider">
		 
		<div class="row">
		   <div class="col-sm-12">
				<label class="col-sm-3">
					<strong>###email###:</strong>
				</label>
				<div class="col-sm-9 text-muted text-spacing"><% if ( user && user.admin) { %><%= entry.email %> <% } else { %><b>###hidden###<% } %></b></div>
		   </div>
		   <div class="col-sm-12">
				<label class="col-sm-3">
					<strong>###phone###:</strong>
				</label>
				<div class="col-sm-9 text-muted text-spacing"><% if ( user && user.admin) { %><%= entry.phone %> <% } else { %><b>###hidden###<% } %></b></div>
		   </div>
		   <div class="col-sm-12">
				<label class="col-sm-3">
					<strong>###birthdate###:</strong>
				</label>
				<div class="col-sm-9 text-muted text-spacing"><% if ( user && user.admin) { %><%= DateToInput(entry.dateOfBirth) %> <% } else { %><b>###hidden###<% } %></b></div>
		   </div>	   
		   <div class="col-sm-12">
				<label class="col-sm-3">
					<strong>###country###:</strong>
				</label>
				<div class="col-sm-9 text-muted text-spacing"><% if ( user && user.admin) { %><%= entry.country %> <% } else { %><b>###hidden###<% } %></b></div>
		   </div>
		   <div class="col-sm-12">
				<label class="col-sm-3">
					<strong>###gender###:</strong>
				</label>
				<div class="col-sm-9 text-muted text-spacing"><% if ( user && user.admin) { %><%= trans(entry.gender) %> <% } else { %><b>###hidden###<% } %></b></div>
		   </div>
		</div>  
		
		<hr class="simple-divider">
		 
		<div class="row">
			<div class="col-sm-12">
			   <label class="col-sm-3">
					<strong>###studyfield###:</strong>
				</label>
				<div class="col-sm-9 text-muted text-spacing"><%= entry.fieldOfStudy %></div>
			</div>
			<div class="col-sm-12">
				<label class="col-sm-3">
					<strong>###studyyear###:</strong>
				</label>
				<div class="col-sm-9 text-muted text-spacing"><%= entry.yearOfStudies %> / <%= entry.typeOfStudies %></div>
			</div>
		</div>	
			
		<hr class="simple-divider">
		
		<div class="row">	
		   <div class="col-sm-12">
				<label class="col-sm-3">
					<strong>###jobtypes###:</strong>
				</label>
				<div class="col-sm-9 text-muted text-spacing"><%= entry.typeOfJob %></div>
		   </div>
		   <div class="col-sm-12">
				<label class="col-sm-3">
					<strong>###skills###:</strong>
				</label>
				<div class="col-sm-9 text-muted text-spacing">
					<span class="tags"><%= entry.skills%></span>
				</div>
		   </div>

		   <div class="col-sm-12">
				<label class="col-sm-3">
					<strong>###keywords###:</strong>
				</label>
				<div class="col-sm-9 text-muted text-spacing">
					<span class="tags"><%= entry.keywords%></span>
				</div>
		   </div>
		</div>
		
		<% if ( entry.admin) { %>
			<div class="row">	
				<hr class="simple-divider">
				<div class="col-sm-12"><label for="isadmin" class="col-sm-3 control-label" style="color: red;"><strong>###admin###</strong></div>
			</div>
		<% } %>
	</div>