<% if (typeof profile != "undefined" && profile) { %>
	<% var showsensitive = user && (user._id==profile._id || user.admin || user.employer); %>
		 <div class="row">
				<div class="col-sm-12 text-spacing">
					<div class="col-xs-12 text-spacing">
						<h3 class="inline"><a href="/profile/<%= profile._id %>" class="href"><%= profile.name %></a>
							<% if ( profile.verified) { %>
								<span class="text-muted small" style="color: green;"> ###verified###</span>
							<% } else { %>
								<span class="text-muted small" style="color: red;"> ###unverifiedtext###</span>
							<% } %>
						</h3>
						<span class="entryinfo text-muted pull-right text-right text-spacing" title="DD.MM.YYYY">###lastlogin###: <%- highlight(DateToInput(profile.lastlogin)) %></span>
					</div>
			   </div>
		 </div>    
				
		
		<hr class="simple-divider">
		
		
		<div class="row">
		   <div class="col-sm-12 text-spacing">
				<label class="col-sm-3">
					<strong>###email###:</strong>
				</label>
				<div class="col-sm-9 text-muted"><% if ( showsensitive) { %><%= profile.email %> <% } else { %><b>###hidden###</b><% } %></div>
		   </div>
		   <div class="col-sm-12 text-spacing">
				<label class="col-sm-3">
					<strong>###phone###:</strong>
				</label>
				<div class="col-sm-9 text-muted"><% if ( showsensitive) { %><%= profile.phone || "" %> <% } else { %><b>###hidden###</b><% } %></div>
		   </div>
		</div>  
		
		<hr class="simple-divider">
		 
		<div class="row">
			<div class="col-sm-12 text-spacing">
			   <label class="col-sm-3">
					<strong>###studyfield###:</strong>
				</label>
				<div class="col-sm-9 text-muted"><% if ( profile.fieldOfStudy) { %><%= profile.fieldOfStudy.name || "" %><% } %></div>
			</div>
			<div class="col-sm-12 text-spacing">
				<label class="col-sm-3">
					<strong>###studyyear###:</strong>
				</label>
				<div class="col-sm-9 text-muted"><%= profile.yearOfStudies || "" %><% if ( profile.typeOfStudies) { %> / <%= profile.typeOfStudies.name || "" %><% } %></div>
			</div>
		</div>	
		
<% } %>