<% if (typeof profile != "undefined" && profile) { %>
		 <div class="row">
		   <div class="col-sm-12">
			<div class="col-sm-12 text-spacing">
				<h2 class="text-spacing"><a href="/profile/<%= profile._id %>" class="href"><%= profile.name %></a></h2>
			</div>
		   </div>
		 </div>  
				
		
		<hr class="simple-divider">
		
		<% var showsensitive = user && (user._id==profile._id || user.admin || user.employer); %>
		<div class="row">
		   <div class="col-sm-12 text-spacing">
				<label class="col-sm-3">
					<strong>###email###:</strong>
				</label>
				<div class="col-sm-9 text-muted"><% if ( showsensitive) { %><%= profile.email %> <% } else { %><b>###hidden###</b><% } %></div>
		   </div>
		   <div class="col-sm-12 text-spacing">
				<label class="col-sm-3">
					<strong>###phone###:</strong>
				</label>
				<div class="col-sm-9 text-muted"><% if ( showsensitive) { %><%= profile.phone || "" %> <% } else { %><b>###hidden###</b><% } %></div>
		   </div>
		</div>  
		
		<hr class="simple-divider">
		 
		<div class="row">
			<div class="col-sm-12 text-spacing">
			   <label class="col-sm-3">
					<strong>###studyfield###:</strong>
				</label>
				<div class="col-sm-9 text-muted"><% if ( profile.fieldOfStudy) { %><%= profile.fieldOfStudy.name || "" %><% } %></div>
			</div>
			<div class="col-sm-12 text-spacing">
				<label class="col-sm-3">
					<strong>###studyyear###:</strong>
				</label>
				<div class="col-sm-9 text-muted"><%= profile.yearOfStudies || "" %><% if ( profile.typeOfStudies) { %> / <%= profile.typeOfStudies.name || "" %><% } %></div>
			</div>
		</div>	
		
<% } %>