<!-- form-job -->
<% if (typeof job == "undefined") { job = false; } %>
<div class="row spacing">
	<label class="col-xs-12 text-muted small text-right">
		<strong><span class="required-sign">*</span> = ###required###</strong>
	</label>
</div>
<div class="vertical-spacing row">
	<label class="col-sm-push-2 col-sm-10 text-muted">
		<strong>###jobsettings###</strong>
	</label>
</div>
<div class="form-group">
	<label for="featured" class="col-sm-2 control-label">###featured### </label>
	<div class="col-sm-10">
		<label class="checkbox-inline" for="featured"><input type="checkbox" id="featured" name="featured" <% if (job && job.featured) { %>checked<% } %>>###featured###</label>
	</div>
</div> 
<div class="form-group">
	<label for="hidden" class="col-sm-2 control-label">###hidden### </label>
	<div class="col-sm-10">
		<label class="checkbox-inline" for="hidden"><input type="checkbox" id="hidden" name="hidden" <% if (job && job.hidden) { %>checked<% } %>>###hidden###</label>
	</div>
</div> 

<hr class="simple-divider">
<div class="vertical-spacing row">
	<label class="col-sm-push-2 col-sm-10 text-muted">
		<strong>###basicinfo###</strong>
	</label>
</div>
<div class="form-group">
	<label for="title" class="col-sm-2 control-label">###title###:</label>
	<div class="col-sm-10">
		<input type="text" id="title" name="title" placeholder="" class="form-control" value="<% if (job) { %><%= job.title %><% } %>" autofocus>
		<span class="help-block">###required###</span>
	</div>
</div>
<div class="form-group">
	<label for="company" class="col-sm-2 control-label">###company###:</label>
	<div class="col-sm-10">
		<input type="text" id="company" name="company" placeholder="" class="form-control" value="<% if (job && job.company) { %><%= job.company || "" %><% } %>">
	</div>
</div>
<div class="form-group">
	<label for="field" class="col-sm-2 control-label">###jobfield###:</label>
	<div class="col-sm-10">
		<select name="field" id="field" class="form-control" data-live-search="true" title="###select###">
			<% for(var i=0; i<jobfields.length;i++){ %>
				<option <% if (job && job.field && jobfields[i]._id==job.field.toString()) { %>selected="selected"<% } %> value="<%= jobfields[i]._id %>"><%= jobfields[i].name %></option>
			<% } %>
		</select>
		<span class="help-block">###required###</span>
	</div>
</div>
<div class="form-group">
	<label for="type" class="col-sm-2 control-label">###jobtype###:</label>
	<div class="col-sm-10">
		<select id="type" name="type" class="form-control" data-live-search="true" title="###select###">
			<% for(var i=0; i<jobtypes.length;i++){ %>
				<option <% if (job && job.field && jobtypes[i]._id==job.type.toString()) { %>selected="selected"<% } %> value="<%= jobtypes[i]._id %>"><%= jobtypes[i].name %></option>
			<% } %>
		</select>
		<span class="help-block">###required###</span>
	</div>
</div>
<div class="form-group">
	<label for="displayDate" class="col-sm-2 control-label">###displaydate###:</label>
	<div class="col-sm-10">
		<input type="text" id="displayDate" name="displayDate" placeholder="###displaydatetext###" class="form-control" value="<% if (job) { %><%= DateToInput(job.displayDate) %><% } %>">
	</div>
</div>

<hr class="simple-divider">
<div class="vertical-spacing row">
	<label class="col-sm-push-2 col-sm-10 text-muted">
		<strong>###contactinfo### ###needverify###</strong>
	</label>
</div>

<div class="form-group">
	<label for="address" class="col-sm-2 control-label">###address###:</label>
	<div class="col-sm-10">
		<input type="text" id="address" name="address" placeholder="Somestreet 123 ABC" class="form-control" value="<% if (job && job.address || operation=="edit") { %><%= job.address || "" %><% } else { %><%= user.address || "" %><% } %>">
	</div>
</div>
<div class="form-group">
	<label for="phone" class="col-sm-2 control-label">###phone###:</label>
	<div class="col-sm-10">
		<input type="text" id="phone" name="phone" placeholder="040123456789" class="form-control" value="<% if (job && job.phone || operation=="edit") { %><%= job.phone || "" %><% } else { %><%= user.phone || "" %><% } %>">
	</div>
</div>
<div class="form-group">
	<label for="email" class="col-sm-2 control-label">###email###:</label>
	<div class="col-sm-10">
		<input type="text" id="email" name="email" placeholder="name@email.com" class="form-control" value="<% if (job && job.email || operation=="edit") { %><%= job.email %><% } else { %><%= user.email %><% } %>">
	</div>
</div>



<% if (0==1) { %>
	<hr class="simple-divider">
	
	<div class="form-group">
		
		<label for="startDate" class="col-sm-2 control-label">###datefrom###:</label>
		<div class="col-sm-3">
			<input type="text" id="startDate" name="startDate" placeholder="DD.MM.YYYY" class="form-control" value="<% if (job) { %><%= DateToInput(job.startDate) %><% } %>">
		</div>
		
		
		<label for="endDate" class="col-sm-1 control-label">###dateto###:</label>
		<div class="col-sm-3">
			<input type="text" id="endDate" name="endDate" placeholder="DD.MM.YYYY" class="form-control" value="<% if (job) { %><%= DateToInput(job.endDate) %><% } %>">
		</div>
	</div>
<% } %>

<hr class="simple-divider">
<div class="vertical-spacing row">
	<label class="col-sm-push-2 col-sm-10 text-muted">
		<strong>###additional###</strong>
	</label>
</div>
<div class="form-group">
	<label for="beginning" class="col-sm-2 control-label">###beginning###:</label>
	<div class="col-sm-10">
		<input type="text" id="beginning" name="beginning" placeholder="" class="form-control" value="<% if (job) { %><%= job.beginning || "" %><% } %>">
	</div>
</div>
<div class="form-group">
	<label for="duration" class="col-sm-2 control-label">###duration###:</label>
	<div class="col-sm-10">
		<input type="text" id="duration" name="duration" placeholder="" class="form-control" value="<% if (job) { %><%= job.duration || "" %><% } %>">
	</div>
</div>


<div class="form-group">
	<label for="skills" class="col-sm-2 control-label">###jobskills###:</label>
	<div class="col-sm-10">
		<input type="text" id="skills" name="skills" class="form-control" value="<% if (job && job.skills && job.skills!="") { %><%= job.skills %><% } else { %><%= user.skills %><% } %>">
	</div>
</div>

<hr class="simple-divider">
<div class="vertical-spacing row">
	<label class="col-sm-push-2 col-sm-10 text-muted">
		<strong>###description###</strong>
		<a onclick="$('.formathelp').toggleClass('hidden');"> ###formathelp###</a>
	</label>
</div>
<div class="form-group">
	<label for="textcontent" class="col-sm-12"></label>
	<div class="formathelp hidden">
		<div class="col-sm-12 vertical-spacing">
			<div class="col-sm-12 mark">
				<%- catparsehelp %>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<textarea rows="<% if (job && job.description) { %><%= job.description.split(/\r\n|\r|\n/g).length+15 %><% } else { %>15<% } %>" id="description" name="description" placeholder="###descriptiontext###" class="form-control"><% if (job) { %><%= job.description || "" %><% } %></textarea>
	</div>
</div>