<!-- form-user -->
<% if (typeof profile == "undefined") { profile = false; } %>

<div class="row vertical-spacing">
	<label class="col-sm-push-2 col-sm-8 text-muted">
		<strong>###userinfo### ###public###</strong>
	</label>
</div>
 <% if ( hasadmin ) { %>
	<div class="form-group">
		<label for="admin" class="col-sm-2 control-label">###admin###</label>
		<div class="col-sm-8">
			<label class="checkbox-inline" for="admin"><input name="admin" id="admin" type="checkbox" <% if (profile && profile.admin || zeroadmins) { %>checked="checked"<% } %><% if ( zeroadmins) { %>disabled<% } %>> (###admin### ###user###)</label>
		</div>
	</div>
	<div class="form-group">
		<label for="manager" class="col-sm-2 control-label">###manager###</label>
		<div class="col-sm-8">
			<label class="checkbox-inline" for="manager"><input name="manager" id="manager" type="checkbox" <% if (profile && profile.manager) { %>checked="checked"<% } %>> (###manager### ###user###)</label>
		</div>
	</div>
	<div class="form-group">
		<label for="employer" class="col-sm-2 control-label">###employer###</label>
		<div class="col-sm-8">
			<label class="checkbox-inline" for="employer"><input name="employer" id="employer" type="checkbox" <% if (profile && profile.employer) { %>checked="checked"<% } %>> (###employer### ###user###)</label>
		</div>
	</div>
<% } %>
<div class="form-group">
	<label for="name" class="col-sm-2 control-label">###name###</label>
	<div class="col-sm-8">
		<input type="text" id="name" name="name" value="<% if (profile) { %><%= profile.name || "" %><% } %>" placeholder="###fullname###" class="form-control textarea" autofocus>
	</div>
</div>

<hr class="simple-divider">

<div class="row vertical-spacing">
	<label class="col-sm-push-2 col-sm-8 text-muted">
		<strong>###logininfo###</strong>
	</label>
</div>
<div class="form-group">
	<label for="email" class="col-sm-2 control-label">###email###</label>
	<div class="col-sm-8">
		<input type="email" id="email" name="email" value="<% if (profile) { %><%= profile.email || "" %><% } %>" placeholder="<%= emailhosts.join(" ") %>" class="form-control textarea">
		<span class="help-block">###emailtext###</span>
	</div>
	
</div>
<div class="form-group">
	<label for="password" class="col-sm-2 control-label">###password###</label>
	<div class="col-sm-8">
		<input type="password" id="password" name="password" placeholder="###password###" class="form-control textarea">
	</div>
</div>
<div class="form-group">
	<label for="passwordcheck" class="col-sm-2 control-label">###repeatpassword###</label>
	<div class="col-sm-8">
		<input type="password" id="passwordcheck" name="passwordcheck" placeholder="###password###" class="form-control textarea">
	</div>
</div>	

<hr class="simple-divider">

<div class="row vertical-spacing">
	<label class="col-sm-push-2 col-sm-10 text-muted">
		<strong>###basicinfo###</strong>
	</label>
</div>
<div class="form-group">
	<label for="phone" class="col-sm-2 control-label">###phone###</label>
	<div class="col-sm-8">
		<input type="text" id="phone" name="phone" value="<% if (profile) { %><%= profile.phone || "" %><% } %>" placeholder="04012345689" class="form-control textarea">
	</div>
</div>
<div class="form-group">
	<label for="country" class="col-sm-2 control-label">###country###</label>
	<div class="col-sm-8">
		<select id="country" name="country" class="selectpicker textarea form-control" data-live-search="true" title="###select###">
			<option label="###select###"></option>
			<% for(var i=0; i<countries.length;i++){ %>
				<option <% if (profile && countries[i].toString()==profile.country) { %>selected="selected"<% } %>><%=countries[i] %></option>
			<% } %>
		</select>
	</div>
</div> 
<div class="form-group">
	<label for="address" class="col-sm-2 control-label">###address###</label>
	<div class="col-sm-8">
		<input type="text" id="address" name="address" value="<% if (profile) { %><%= profile.address || "" %><% } %>" placeholder="Somestreet 123 ABC" class="form-control textarea">
	</div>
</div>
<div class="form-group">
	<label for="dateOfBirth" class="col-sm-2 control-label">###birthdate###</label>
	<div class="col-sm-8">
		<input type="text" id="dateOfBirth" name="dateOfBirth" placeholder="DD.MM.YYYY" value="<% if (profile && profile.dateOfBirth) { %><%= DateToInput(profile.dateOfBirth) %><% } %>" class="form-control textarea">
	</div>
</div>
<div class="form-group">
	<label class="control-label col-sm-2">###gender###</label>
	<div class="col-sm-8">
		<div class="row">
			<div class="col-sm-12">
				<label class="radio-inline" for="male-radio"><input type="radio" name="gender" id="male-radio" value="male" <% if (profile && profile.gender=="male") { %>checked="checked"<% } %>>###male###</label>
				
				<label class="radio-inline" for="female-radio"><input type="radio" name="gender" id="female-radio" value="female" <% if (profile && profile.gender=="female") { %>checked="checked"<% } %>>###female###</label>
			
				<label class="radio-inline" for="ungender-radio"><input type="radio" name="gender" id="ungender-radio" value="undefined" <% if (!profile || profile && profile.gender=="undefined") { %>checked="checked"<% } %>>###undefined###</label>
			</div>
		</div>
	</div>
</div> 
<div class="form-group">
	<label for="yearOfStudies" class="col-sm-2 control-label">###studyyear###</label>
	<div class="col-sm-3">
		<input type="number" min="0" max="10" id="yearOfStudies" name="yearOfStudies" class="form-control textarea" value="<% if (profile) { %><%= profile.yearOfStudies %><% } else { %>0<% } %>">
	</div>
	<label for="typeOfStudies" class="col-sm-1 control-label">###studylevel###</label>
	<div class="col-sm-4">
		<select id="typeOfStudies" name="typeOfStudies" class="form-control" data-live-search="true">
			<% for(var k in studytypes){ %>
				<option <% if (profile && profile.typeOfStudies && studytypes[k]._id==profile.typeOfStudies.toString()) { %>selected="selected"<% } %> value="<%= studytypes[k]._id %>"><%=studytypes[k].name %></option>
			<% } %>
		</select>
	</div>
</div>


<hr class="simple-divider">

<div class="row vertical-spacing">
	<label class="col-sm-push-2 col-sm-8 text-muted">
		<strong>###recruitmentinfo###</strong>
	</label>
</div>
<div class="form-group">
	<label for="fieldOfStudy" class="col-sm-2 control-label">###studyfield###</label>
	<div class="col-sm-8">
		<select id="fieldOfStudy" name="fieldOfStudy" class="form-control" data-live-search="true">
			<% for(var k in jobfields){ %>
				<option <% if (profile && profile.fieldOfStudy && jobfields[k]._id==profile.fieldOfStudy.toString()) { %>selected="selected"<% } %> value="<%= jobfields[k]._id %>"><%=jobfields[k].name %></option>
			<% } %>
		</select>
	</div>
</div>
<div class="form-group">
	<label for="typeOfJob" class="col-sm-2 control-label">###jobtypes###</label>
	<div class="col-sm-8">
		<select id="typeOfJob" name="typeOfJob" multiple class="selectpicker form-control" data-live-search="true" title="###select###">
			<% for(var i=0; i<jobtypes.length;i++){ %>
				<option <% if (profile && profile.typeOfJob && profile.typeOfJob.indexOf(jobtypes[i].name)>-1) { %>selected="selected"<% } %>><%=jobtypes[i].name %></option>
			<% } %>
		</select>
	</div>

</div>
<% if (1==0) { %>
<div class="form-group">
	<label for="skills" class="col-sm-2 control-label">###skills###</label>
	<div class="col-sm-8">
		<input type="text" id="skills" name="skills" value="<% if (profile) { %><%= profile.skills || "" %><% } %>" placeholder="" class="form-control textarea">
	</div>
</div>
<% } %>

<div class="form-group">
	<label for="keywords" class="col-sm-2 control-label">###keywords###</label>
	<div class="col-sm-8">
		<input type="text" id="keywords" name="keywords" value="<% if (profile) { %><%= profile.keywords || "" %><% } %>" placeholder="" class="form-control textarea">
	</div>
</div>


<hr class="simple-divider">

<div class="row vertical-spacing">
	<label class="col-sm-push-2 col-sm-8 text-muted">
		<strong>###subscriptioninfo###</strong>
	</label>
</div>
<div class="form-group">
	<div class="col-sm-push-2 col-sm-10">
		<label class="checkbox-inline" for="subscribe">
			<input name="subscribe" id="subscribe" type="checkbox" <% if (profile && profile.subscribe) { %>checked="checked"<% } %>>###subscribe###
		</label>
	</div>

	<div class="col-sm-push-2 col-sm-10">
		<label class="checkbox-inline" for="studysub">
			<input name="studysub" id="studysub" type="checkbox" <% if (profile && profile.studysub) { %>checked="checked"<% } %>>###studysub###
		</label>
	</div>

	<div class="col-sm-push-2 col-sm-10">
		<label class="checkbox-inline" for="recruitsub">
			<input name="recruitsub" id="recruitsub" type="checkbox" <% if (profile && profile.recruitsub) { %>checked="checked"<% } %>>###recruitsub###
		</label>
	</div>

	<div class="col-sm-push-2 col-sm-10">
		<label class="checkbox-inline" for="keywordsub">
			<input name="keywordsub" id="keywordsub" type="checkbox" <% if (profile && profile.keywordsub) { %>checked="checked"<% } %>>###keywordsub###
		</label>
	</div>

	<div class="col-sm-push-2 col-sm-10">
		<label class="checkbox-inline" for="emailsub">
			<input name="emailsub" id="emailsub" type="checkbox" <% if (profile && profile.emailsub) { %>checked="checked"<% } %>>###emailsub###
		</label>
	</div>
</div>
